[2013-07-31 22:51] mfunk opened #1 "build script is failing to find correct version of ArcGIS"
Runnning ANT in ..\environment\test and getting the error:

`test_config:

BUILD FAILED
C:\Workspace\GitHubTesting\defense-and-intel-toolbox\environment\test\build.xml:14: The following error occurred while e
xecuting this line:
C:\Workspace\GitHubTesting\defense-and-intel-toolbox\environment\test\test_build_elevation\build.xml:18: Execute failed:
 java.io.IOException: Cannot run program "C:\Pytho

[2013-10-16 18:57] jeffbaranyi opened #3 "The ERGbyPlacard GP tool doesn't execute on desktop"
I was not able to run the ERGbyPlacard tool locally.  I got this error message:

Executing: ERGByPlacard "Feature Set" 1994 115 Day Large F:\temp\emergency-response-guidebook-toolbox-master\results.gdb\ERGByPlacardpoly F:\temp\emergency-response-guidebook-toolbox-master\results.gdb\ERGByPlacardline
Start Time: Wed Oct 16 07:21:37 2013
Running script ERGByPlacard...
Getting the projected point
Foun

[2013-10-31 16:07] mfunk opened #4 "Need README files for each folder"
Need README files for each folder:
common
environment
emergencymanagement
analysis
operations
planning

[2013-11-07 18:04] mfunk opened #5 "GeoNames is still failing"
GeoNames still fails when building locator from Afghanistan (af.txt) data, though it works for French (fr.txt). Fails around 240,000 features.

[2013-11-12 16:19] csmoore opened #6 "Fix Readme & Add screenshot to Readme"
A screenshot is needed

The test steps in the readme are not correct (need to add the additional folder paths/tests)

[2013-11-22 14:03] #1 closed, assigned to nobody

[2013-11-22 14:07] csmoore opened #7 "Remove GDB and fix any dependencies"
GDB here: https://github.com/ArcGIS/defense-and-intel-toolbox/tree/master/emergencymanagement/toolboxes/tooldata/Templates.gdb

gdbs can’t be managed in a Configuration Management systems, but in general data should be pulled down separately and put in a data folder
defense-and-intel-toolbox\emergencymanagement\data

[2013-11-22 14:28] #7 closed, assigned to nobody

[2013-11-22 16:59] csmoore opened #8 "Unit test TestModelRangeFan failing: grid_code vs. gridcode"
ArcGIS Desktop 10.2 - Unit tests

TestModelRangeFan
TestModelRadialLineOfSight

are failing after a few minutes with `Invalid field grid_code`

Here is the failing unit test: https://github.com/ArcGIS/defense-and-intel-toolbox/blob/master/common/test/test_viz_and_range/TestModelRangeFan.py#L80

& Here is the error:

tel-toolbox\common\data\geodatabases\scratch.gdb\RasPolys visibility SHORT # # #
"

[2013-11-22 19:36] #6 closed, assigned to nobody

[2013-11-29 18:09] jeffbaranyi opened #9 "The lines don't draw properly"
The lines don't draw properly in 10.2.1 (build 3495).  The left line seems to connect to the middle of the arc, not the egge.
![erg_line_issue](https://f.cloud.github.com/assets/5030938/1646644/6dd00a30-5921-11e3-9fcc-e9d5a7b904de.png)

[2013-12-16 16:42] helyx-acolby opened #11 "Ant build reports build failure"
Error code 403 returned when running the ant build - ant build extract below.

Buildfile: C:\Users\a.colby.HELYX\Documents\GitHub\solutions-geoprocessing-toolbox\build.xml

make_dirs:
     [echo] Creating: ./downloaded_data

get_common_data:
     [echo] Downloading common maps
      [get] Getting: http://www.arcgis.com/sharing/content/items/1ab069b8ed5749c083069289151fe127/data
      [get] To: C:\

[2013-12-19 01:20] csmoore opened #12 "Migrate dependent test data to common account"
Ant files grab public data from several different AGOL accounts - we'll combine these so they are in one place account & organize the AGOL folders so it is easier to tell which Github repo relies on the data,

[2013-12-19 15:40] #11 closed, assigned to nobody

[2014-01-31 16:18] lindsaytest opened #13 "The wind bearing default is set to 0. If the user tries to use the Default they get the attached error"
Issue in ERG by Chemical and ERG by Placard

Accepting the default of 0 for wind bearing gives the error below.

Please update the script to recognize the default parameter for wind bearing.

(if you click on the Wind Bearing, parameter text box before executing the tool will not fail)

![screen shot 2014-01-31 at 11 11 25 am](https://f.cloud.github.com/assets/6546890/2052146/ae4b3d26-8a92-11e3-90

[2014-01-31 16:23] LindsayThomas opened #14 "Incident Point isn't a required parameter, however, if the tool doesn't get the parameter it will fail"
Please update the ERG By Placard and ERG by Chemical tool to have the incident point parameter as required not optional.

Incident Point isn't a required parameter, however, so if the user runs the tool without it will proceed through validation then fail once executed.

[2014-01-31 16:30] LindsayThomas opened #15 "ERG Placard and Chemical should have default values for all parameters"
Can we please add default values for all parameters (expect incident point) ?

The ERG tools are used in the COP, the previous version had default values for all the parameters (except incident point). Because this is a primarily a ArcGIS Server workflow and it is required to have the tools in ArcGIS Desktop publish successfully first before pushing to server, having default parameter saves clicks

[2014-02-18 23:25] #13 closed, assigned to LindsayThomas

[2014-02-27 12:05] #9 closed, assigned to jeffbaranyi

[2014-03-17 21:13] mfunk opened #17 "Publishable Task Tools toolbox needs Description"

[2014-03-17 21:13] mfunk opened #18 "Position Analysis Tools toolbox needs Description"

[2014-03-17 21:14] mfunk opened #19 "Range Card Tools toolbox needs Description"

[2014-03-17 22:07] mfunk opened #22 "ERG Tools toolbox needs Description"

[2014-03-18 12:05] #4 closed, assigned to csmoore

[2014-03-18 17:51] mfunk opened #27 "Maritime Decision Aid Tools need tests written"
Maritime Decision Aid Tools need tests written for the following tools:
- [ ] Distance Of Horizon
- [ ] Farthest On Circle

[2014-03-31 17:03] #3 closed, assigned to jeffbaranyi

[2014-03-31 17:04] #8 closed, assigned to csmoore

[2014-03-31 17:04] #12 closed, assigned to ACueva

[2014-04-01 21:04] #15 closed, assigned to LindsayThomas

[2014-04-08 21:44] #17 closed, assigned to mfunk

[2014-04-09 18:19] #22 closed, assigned to nobody

[2014-04-23 12:51] topowright-zz opened #32 "IA tool Create hot spot by area fails at 10.1"
Incident Analysis tool Find Hot Spot by Area will not run properly at 10.1 if there is no data present in each area in the polygon. Tool makes ArcMap crash if this happens.

[2014-04-23 14:20] #32 closed, assigned to nobody

[2014-05-06 21:39] conklinbd opened #34 "Patrol Data Capture Toolbox needs some additional tests"
The Patrol Data Capture Toolbox needs to have tests created for all of the tools. This toolbox has a large number of script tools.

So the following 5 tools do NOT have tests:

- [x] Append Tracks to DB
- [x] Import Patrol Rpt --- Not a great tool name
- [x] Make Track Lines
- [x] Recalculate Delta Times
- [x] Rejoin Track Parts

[2014-05-07 21:55] mfunk opened #36 "Need to merge MAoW tools to this repo"
Need to import tools and test from MAoW repo into this one...
https://github.com/ArcGIS/military-aspects-of-weather-toolbox

[2014-05-09 22:58] rfeuerstein opened #37 "Clearing Operations: Potential Issues with Alternative Coordinate Systems"
Using the "Canvas GRG" tool in the Clearing Operations Template with WGS 1984 for the data layers and data frame over Boston, MA. Input AO equals 1.4 mile square but the output produces a single grid square (A1) with 4,600 mile diameter: Boston to the Black Sea. Changed AO feature class input projection to WGS 1984 Web Merc and the tools worked as designed.

┆Issue is synchronized with this [Asana

[2014-05-20 00:46] rfeuerstein opened #39 "Broken Link to Download Template"
1. It appears that the link to view the item page and download the template for "Creating Suitability" under Terrain Analysis is not accessible at solutions.arcgis.com, http://maritime-ops.maps.arcgis.com/home/item.html?id=ad9c667d26aa49e5bc7e8265cc3a54e6 The item page begins to load and then an error page is displayed "Error: You do not have permissions to access this resource."

[2014-05-20 01:33] rfeuerstein opened #40 "MAoT: Documentation Unclear"
1. Under "Data Requirements" on page 5 for MAoT for 10.1 states...
Operational Environment sample data.
▪ Download from www.ArcGIS.com, search for 'operational environment'
▪ The MAoT template requires the Operational Environment (OE) to be completed. The Operational Environment geodatabases are where MAoT gets input data and publishes analytic results.

2. Why isn't there a hyperlink to the Opera

[2014-06-12 22:50] joebayles opened #41 "Range Card Tools should include Visibility Analysis"
Part of the workflow for developing a range card is identifying the "dead space," area that is not visible to the firing position.

Currently, the user can sketch out the dead space, but it would be much easier and accurate to provide a tool that does that automatically.

[2014-06-12 23:19] joebayles opened #42 "Visibility & Range Tools > Range Fans by Feature issue"
This tool throws an error when running due to a Python version issue (!grid_code! vs. !gridcode!). @mfunk is aware.

![6-12-2014 16-07-30](https://cloud.githubusercontent.com/assets/5016557/3264971/cae1b930-f287-11e3-9d1a-1b7083cd81d8.png)
![6-12-2014 16-06-26](https://cloud.githubusercontent.com/assets/5016557/3264972/cd43c57e-f287-11e3-84a4-116fc24063c5.png)

[2014-07-02 22:12] mfunk opened #43 "Build Elevation Mosaics tool uses Web Mercator for mosaic"
Currently the existing Build Elevation Mosaics tool builds a mosaic dataset in Web Mercator.

![webmercinbuildelevmosaics](https://cloud.githubusercontent.com/assets/3093182/3463115/d55f243e-0235-11e4-828c-77d7564bddee.png)

We need to start using Geographic WGS 1984 for this dataset.

[2014-07-21 16:35] mfunk opened #45 "Add observer tools similar to Military Analyst"
@nfeuerstein
A user asked about tools to work with and modify Observer features, like we used to do with Military Analyst, e.g. add required observer fields to a point dataset, etc. This could be a very easy enhancement for Visibility and Range toolbox. The tools included:
- [ ] Add Observer Fields
- [ ] Create Observers From Table
- [ ] Create Single Observer

[2014-07-22 16:57] jyi67 opened #46 "Run Range Fan geoprocessing service error"
I successfully published the Range Fan service (Visibility and Range Tools.tbx\Range Fan tool). However, the Range Fan geoprocessing service cannot be run. In ArcGIS Server log, it says:

PYTHON ERRORS: Traceback info: File "C:\arcgisserver\directories\arcgissystem\arcgisinput\RangeFan.GPServer\extracted\v101\toolboxes\RangeFan.py", line 91, in shapefieldname = arcpy.Describe(prjInFeature).ShapeFi

[2014-07-24 17:19] jfrygeo opened #47 "Clearing Ops - GRG Canvas Area Tool model and "Canvas Area GRG Script" not referencing tools"
There was a problem with windows not finding the path to the toolboxes.

I was able to get it working on my machine by changing the first line of code (commented out) to the second.

#toolboxPath = os.path.dirname(os.path.dirname(arcpy.env.workspace)) + "\\toolboxes\ClearingOperations.tbx"
toolboxPath = os.path.dirname(arcpy.env.workspace) + "\\toolboxes\ClearingOperations.tbx"

#arcpy.ImportToolb

[2014-07-30 12:53] topowright-zz opened #49 "Incident Analysis - Incident Hot Spots does not run"
Tool does not run when applied to test data from Jalalabad data. Here is the error:

Executing: IncidentHotSpots "Incidents\All Incidents" Districts C:\Users\lyle6003\Desktop\Working\data\Results.gdb\HotSpots
Start Time: Wed Jul 30 08:51:00 2014
Executing (Optimized Hot Spot Analysis): OptimizedHotSpotAnalysis "Incidents\All Incidents" C:\Users\lyle6003\Desktop\Working\data\Results.gdb\HotSpots #

[2014-07-30 13:04] topowright-zz opened #50 "Incident Analysis - Hot Spots By Area does run properly"
The tool seems to be pulling some relic due to the output. No layers are selected and the tool does not rail. I have included a screen shot of the result.
![hotspotsbyarea](https://cloud.githubusercontent.com/assets/5488313/3749259/ee3c463e-17e9-11e4-80a2-d9a916917948.JPG)

[2014-07-30 21:28] mfunk opened #51 "Range Fan is not passing bearing limits to Viewshed"
Range Fan tool in Visibility and Range passes RADIUS2 and OFFSETA to the target observer for VIEWSHED, but it does NOT pass any other variables. This is a problem with overlapping range fans where the bearing limits of one may not be correctly transferred to the other (see screenshot below). We need to account for (and use the defaults) for the others including RADIUS1 = 0.0, VERT1 = 90.0, VERT2 =

[2014-07-31 16:37] mfunk opened #52 "Convert Coordinates/sourceCC doesn't handle new input formats"
Convert Coordinate Notation at 10.3 handles several additional formats from 10.1 when the Convert Coordinates tool was made for Position Analysis Tools, including:
Coordinate format of the input fields. The default is DD_2.
- DD_1—Both longitude and latitude values are in a single field. Two values are separated by a space, a comma, or a slash.
- DD_2—Longitude and latitude values are in two separ

[2014-07-31 17:34] mfunk opened #53 "PolylineToPolygon.py needs to use Data Access cursor"
PolylineToPolygon.py needs to use the ArcPy Data Access InsertCursor instead of the old InsertCursor around line 47:

`outRows = arcpy.InsertCursor(outputPolygons,sr)`

Data Access is for faster processing by reducing the number of fields used in creating the cursor.

[2014-08-01 22:18] mfunk opened #54 "Need to update Point Of Origin tool to not use Web Mercator?"
@nfeuerstein @conklinbd
With a lot of the recent issues with Web Mercator, should we start removing it from use in our scripts as well? I found that Point Of Origin uses it internally in the script. To remove it would require us to replace it with something else (e.g. localized Azimuthal Equidistant like we did for Radial Line Of Sight). Thoughts?

[2014-08-07 17:05] mfunk opened #56 "These toolboxes need Descriptions and/or Aliases"
- [x] analysis\Sun Position Analysis Tools
- [x] analysis\PointOfOrigin
- [x] analysis\Incident Analysis Tools
- [x] analysis\Helicopter Landing Zone
- [x] analysis\ClearingOperations
- [x] analysis\AdjustSampleDataDates
- [x] common\Position Analysis Tools
- [x] common\Range Card Tools
- [x] environment\Geonames Tools
- [x] environment\Imagery Basemap Tools
- [x] environment\Maritime Decision Aid

[2014-08-11 23:04] mfunk opened #58 "RangeFan tool removed, tests need to be updated"
Range Fan tool was replaced by Range Fans From Weapon Bearing Limits and Range Fans from Weapon Bearing Parameters. The tool tests need to be updated as the tool no longer exists.

[code]

[2014-08-12 19:21] mfunk opened #59 "TowersLOS.py needs to be updated for arcpy.mapping"
TowersLOS.py needs to be updated for arcpy.mapping for Pro.
Currently lines 286 to 290:
[code]

[2014-08-12 19:53] mfunk opened #60 "TowerRangeFan.py needs to be updated for arcpy.mapping"
TowerRangeFan.py needs to be updated for arcpy.mapping for Pro
Lines 392 - 409 are affected.

[code]

[2014-08-12 19:54] mfunk opened #61 "TowerLOS.py needs to be update for arcpy.mapping"
TowerLOS.py needs to be update for arcpy.mapping for Pro
Lines 321 to 325 are affected:

[code]

[2014-08-12 19:56] mfunk opened #62 "RlosRangeFan.py needs to be updated for arcpy.mapping"
RlosRangeFan.py needs to be updated for arcpy.mapping for Pro
Lines 384 to 401 are affected:

[code]

[2014-08-13 22:27] mfunk opened #69 "Rework Raster Off-road Mobility tool validation"
Rework Raster Off-road Mobility tool validation to not hide options as this causes some issues in Pro.
Pro hides tool parameters under certain conditions (parameter disabled, etc.). However in some cases (Raster Off-road Mobility) this throws hidden errors. When this tool comes from GitHub the required parameter tables do not exist (they come with the template, not repo) so the validation throws a

[2014-08-14 14:12] mfunk opened #70 "Maritime Decision Aid Tools need test to be written"
Maritime Decision Aid Tools need test to be written

Tool tests need to be written for all GP tools in GitHub.
test info starts in the Team Notebook in OneNote: Team Notebook >> GitHub (tab) >> Testing Standards - Test Drivers

Currently there are only two tools:

- [x] Distance Of Horizon
- [x] Farthest On Circle

Copied from original issue: https://github.com/ArcGIS/ops-server-config/issues/196

[2014-08-15 14:43] #39 closed, assigned to nobody

[2014-08-19 15:32] ACueva opened #73 "test_lowest_point failing in 10.3 Jenkins test"
http://vjenk01.esri.com:8080/job/Daily%20Build%20-%20solutions-geoprocessing-toolbox/234/console

test_lowest_point:
     [exec] Starting Test: LowestPoint
     [exec] Creating New Scratch Workspace (Workaround)
     [exec] Valid Object: samplePolygonArea
     [exec] Valid Object: Jbad_SRTM_USGS_EROS
     [exec] Valid Object: Visibility And Range Tools.tbx
     [exec] Running from: C:\Program File

[2014-08-22 15:08] mfunk opened #74 "Generate release before reorganization of repo"
Need to start using releases to mark compatible ArcGIS versions

[2014-08-25 15:32] mfunk opened #75 "Helicopter Landing Zone toolbox needs alias and description"
Helicopter Landing Zone toolbox needs alias and description

[2014-08-25 16:28] mfunk opened #76 "Helicopter Landing Zones toolbox needs tests written"
HLZ toolbox needs to have an automated test written for HLZ Touchdown Points. This important for automated release testing, but also so GitHub users have samples of the input data used to run the tool (they get this when they setup the tool tests, don't even have to run them).

[2014-08-25 16:30] mfunk opened #77 "AdjustSampleDataDates needs tests written"
AjdustSampleDataDates needs tests written for 'Change Sample Data Dates to Recent Dates' tool.

[2014-08-25 16:33] mfunk opened #78 "ClearingOperations needs tests written"
ClearingOperations tools needs test written for the following tools:
- [ ] Canvas Area GRG
- [ ] Number Features
- [ ] Point Target GRG

[2014-08-25 16:41] mfunk opened #79 "Incident Analysis Tools needs tests written"
Incident Analysis Tools needs test written for the following tools:
- [x] Cluster Analysis
- [x] Count Incidents by LOC
- [x] Find Percent Change
- [x] Hot Spots by Area
- [x] Incident Density
- [x] Incident Hot Spots
- [x] Incident Table To Point

[2014-08-25 16:47] mfunk opened #80 "PointOfOrigin needs test written"
PointOfOrigin toolbox needs test written for:
- [ ] Point of Origin Site Detection

[2014-08-25 16:48] mfunk opened #81 "Sun Position Analysis Tools needs test written"
Sun Position Analysis Tools needs test written for **Sun Position and Hillshade** tool.

[2014-08-25 17:53] mfunk opened #82 "Error in ChooseFieldValueScriptTool validation"
Error in ChooseFieldValueScriptTool validation

[code]

[2014-08-25 18:37] #82 closed, assigned to mfunk

[2014-09-02 21:57] mfunk opened #90 "Point of Origin Site Detection tool has no output defined"
The ~Point of Origin Site Detection~ tool in the Point Of Origin Tools has no tool output. This means the tool cannot be used in a model or script in developing further workflows:

![image](https://cloud.githubusercontent.com/assets/3093182/4126436/12dfba08-32ec-11e4-8204-0afbcd679cde.png)

[2014-09-02 22:14] mfunk opened #91 "Change Sample Data Dates to Recent Dates tool has no output"
Change Sample Data Dates to Recent Dates tool in the Adjust Sample Data Dates Tools does not have an output defined, and cannot be added to a model or script.

![image](https://cloud.githubusercontent.com/assets/3093182/4126615/4accdc96-32ee-11e4-86ad-dee9796a5ebe.png)

[2014-09-05 15:18] #56 closed, assigned to mfunk

[2014-09-05 20:01] nfeuerstein opened #94 "Drop down list of field names is not populated in Position Analysis > Table To 2-Point Line"
The "in progress" 10.2.2.0 version of the Position Analysis template can be found here:
https://afmiedev.esri.com/arcgis/home/item.html?id=a9312771ca03439b86877cf5c10a50f8

[2014-09-05 20:02] nfeuerstein opened #95 "Drop down list of field names is not populated in Position Analysis > Table To Line of Bearing"
The "in progress" version 10.2.2.0 Position Analysis template can be found here: https://afmiedev.esri.com/arcgis/home/item.html?id=a9312771ca03439b86877cf5c10a50f8

[2014-09-10 15:02] mfunk opened #100 "Build Elevation Mosaic Tools.tbx needs tools written"
New tools have been added to this toolbox and do not yet have tests written:
* [ ] Create Derived Elevation Mosaic
* [ ] Create Source Elevation Mosaics
* [ ] Create Source LAS Ground Elevation Mosaics
* [ ] Create Source LAS Surface Elevation Mosaics

[2014-09-10 17:52] mfunk opened #101 "TestCreateGeonamesGazetteerLocator.py fails trying to delete data"
TestCreateGeonamesGazetteerLocator.py is failing on line 49 when trying to delete the existing GeonamesLocator address locator. This line uses arcpy.Delete_management to try and delete the locator, but throws and error:

[code]

A similar error occurs if you run Delete from ArcCatalog on the locator. I've contacted sp-geoprocessing and sp-arcmap to see if someone could help..... but nothing useful

[2014-09-10 19:56] #101 closed, assigned to mfunk

[2014-09-11 15:31] mfunk opened #104 "Remove range fan tools from Range Cards toolbox"
Parameters have changed for the Range Fan By Bearing and Traversal, and Range Fan By Bearing Limits tools so the tool tests have to be modified to make them run again. The tool test affected are:

- [x] TestRangeFanByBearingLimits.py
- [x] TestRangeFanByBearingAndTraversal.py

[2014-09-11 17:34] #74 closed, assigned to mfunk

[2014-09-11 17:36] mfunk opened #105 "Visibility and Range tools need additional tests written"
Visibility and Range Tools need tests written for the newer tools added:
- [ ] Linear Line Of Sight
- [ ] Attach Profile Graph To LLOS
- [ ] Radial Line Of Sight - Multiple Positions
- [ ] Radial Line Of Sight - Single Positions
- [ ] Radial Line Of Sight and Range
- [ ] Range Fans From Weapon Bearing Limits
- [ ] Range Fans From Weapon Parameters
- [ ] Trajectory

┆Issue is synchronized with this

[2014-09-12 22:15] ACueva opened #106 "Imagery Basemap Tools - Add CIB Rasters to Mosaic Dataset fails"
Unable to load data into the Add CIB Rasters to Mosaic Dataset tool.
Tested with 10.3 Pre-Release build 4280.

Tried loading multiple different possible inputs.  Used sample data provided, nothing would load.

[2014-09-15 18:11] mfunk opened #109 "Weird ArcInfo dialog with Position Analysis tools"
Got a weird one with the Position Analysis Tools.tbx. When you open one of the tools (e.g. Locate Events) you get a "New ArcInfo Workspace" dialog box before the tool dialog.
![image](https://cloud.githubusercontent.com/assets/3093182/4276222/8367989c-3d03-11e4-9081-1bdf25f7907d.png)
Clicking Cancel eventually makes the ArcInfo dialog go away and the correct tool dialog appears.

This MIGHT have s

[2014-09-16 15:35] #109 closed, assigned to mfunk

[2014-09-16 15:37] #75 closed, assigned to nfeuerstein

[2014-09-16 15:40] #19 closed, assigned to joebayles

[2014-09-16 15:41] #18 closed, assigned to nfeuerstein

[2014-09-16 15:42] #52 closed, assigned to nfeuerstein

[2014-09-16 15:43] #58 closed, assigned to nfeuerstein

[2014-09-16 16:50] mfunk opened #113 "Three V&R tools have no output"
Found that 3 of the V&R tools have no output defined.As-is they are dead-ends in a model or script.
* [x] Radial Line of Sight - Multiple Positions
* [x] Radial Line of Sight - Single Position
* [ ] Radial Line of Sight and Range

![image](https://cloud.githubusercontent.com/assets/3093182/4291100/768f7306-3dc1-11e4-8ed0-94c8df449d84.png)

[2014-09-16 22:27] mfunk opened #114 "Error running CanvasAreaGRG tool"
Error trying to run Canvas Area GRG:

[code]

The lines it is referencing are:

[code]

the ```toolboxPath``` variable is pointing to a path that doesn't exist.

[2014-09-17 22:29] #106 closed, assigned to mfunk

[2014-09-17 22:40] erikreid opened #117 "MAoT Concealment from Aerial Detection: Add buildings to definition query for output"
Add buildings to the definition query for concealment vs just vegetation.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/129342386639048/129344613496942)

[2014-09-17 22:58] erikreid opened #118 "MAoT Cover from flat trajectory weapons: Received Error 00539 when processing"
Received error 000539 "Error message from Python". The help file stated "The calculation used by the Calculate Field or Calculate Value tool is invalid. This error message provided will list the specific Python error."

This could be caused by a version difference from when the tool was made, (Arc 10.1) and now. The tool required that services are used and due to this requirement, services from Ar

[2014-09-17 23:05] erikreid opened #119 "MAoT: Find Local Peaks Error 999999 and warning error 000950"
Ran the tool using services and received error 999999 and warning error 000950. Could be due to the version of the template vs current services.

![find local peaks error message](https://cloud.githubusercontent.com/assets/8561343/4312783/bf25aba0-3ebe-11e4-8241-84d754e17f9f.png)

[2014-09-17 23:11] erikreid opened #120 "MAoT Highest point near location Errors 999999, 010213, 010325, 010067 and warning error 000950"
Ran the tool and received Errors 999999, 010213, 010325, 010067 and warning error 000950. Could be due to version difference of the tool and current builds/services.

Error 010213: Error in reading grid <value> " There was an error encountered when trying to read the specified grid. Problems accessing a grid are most commonly the result of missing required component files in the grid's folder. Con

[2014-09-17 23:21] erikreid opened #121 "MAoT Linear Line of Sight Empty Values Returned"
Out of the two observers with two targets, only one LoS output returned. Received Warning Error 000950 and 050114. Was using data services. Could be version difference between the tool and current software build/services. Attached screenshot of plot points, output and output message.

![linear line of sight setup](https://cloud.githubusercontent.com/assets/8561343/4312957/01b39f20-3ec1-11e4-9eb1-3

[2014-09-17 23:22] erikreid opened #122 "MAoT Linear Line of Sight Recommendation"
Recommend the points that are plotted for the LoS remain once the process has completed.

[2014-09-17 23:27] erikreid opened #123 "MAoT Lowest points near locations, received errors 000875, 000581, and warning error 000950"

[2014-09-17 23:39] erikreid opened #124 "MAoT Range Fan Bearing and Traversal with Visibility Received errors 000622 and 000628"
Ran the tool using services and received errors 000622 and 000628. This could be due to version differences between the template and current software builds/services.

Error 000622 Failed to execute (<value>). Parameters are not valid "The specified parameters are invalid"

Error 000628 Cannot set input into parameter <value> " The syntax used for the parameter is invalid for the parameter type. E

[2014-09-17 23:48] erikreid opened #125 "MAoT Artillery Slope Tint with Services Received errors 999999, 010213, 010325, 010067"
Ran the Artillery slope tint tool with services and received errors 999999, 010213, 010325 and 010067. Could be due to the version difference between the template and current software/service build.

Error 99999 "Don't pass go, Don't collect $200" General fault error

Error 010325 Run-time error - **\* "The tool or method encountered an error during execution. This is a general response that may b

[2014-09-17 23:53] erikreid opened #126 "MAoT Suitable Drop Zones Received Errors 999999, 010213, 010325 and 010067."
Ran the Suitable Drop Zone tool with services and received errors 999999, 010213, 010325 and 010067. Could be due to the version difference between the template and current software/service build.

Error 99999 General fault error

Error 010325 Run-time error - **\* "The tool or method encountered an error during execution. This is a general response that may be used for many possible error conditi

[2014-09-18 15:26] erikreid opened #127 "MAoT Raster Off Road Mobility using services Received errors 999999, 010213, 010325, 010067"
Ran the tool using services and received errors 999999, 010213, 010325, 010067. The may be due to version differences between the template and the current software/services builds.

Error 99999 General Fault Error

Error 010213 Error in reading grid <value> "There was an error encountered when trying to read the specified grid. Problems accessing a grid are most commonly the result of missing requ

[2014-09-18 21:07] erikreid opened #128 "MAoT Vegetation Query for HLZ and DZ"
The queries within the model do not match the requirements for HLZ's and DZ in accordance with FM 5-33. Need to be adjusted to ensure the end user has the correct output. Reference FM 5-33 7-11.

[2014-09-18 21:23] erikreid opened #129 "MAoT HLZ Suitability Received Errors 999999, 010213, 010325 and 010067."
Ran the HLZ Suitability tool with services and received errors 999999, 010213, 010325 and 010067. Could be due to the version difference between the template and current software/service build.

Error 99999 General fault error

Error 010325 Run-time error - *** "The tool or method encountered an error during execution. This is a general response that may be used for many possible error conditions

[2014-09-18 21:26] erikreid opened #130 "HLZ Suitability output based on platform"
Add the ability to be able to input what size element will be using the HLZ. IE Blackhawk, Chinook, Blackhawk x2 and Chinook x3 for an operation, etc. This can make the HLZ planning product easier to produce in a timely and accurate manner.

[2014-09-18 21:37] erikreid opened #131 "Add Mobility Corridor for Air"
Add the ability to produce Aerial Mobility Corridor to the MAoT toolset and/or HLZ Suitability tool.  This will further aid in planing Aerial operations. This can effect planning for Drop Zones or HLZs.

[2014-09-19 19:52] #95 closed, assigned to nfeuerstein

[2014-09-19 19:52] #94 closed, assigned to nfeuerstein

[2014-10-14 18:14] mfunk opened #135 "field selection in model tools not working in ArcGIS Pro vs. ArcGIS 10.3 for Desktop"
At 10.3 certain models were able to select a field parameter from an input table/dataset, but in Pro the same field selection is not available. For example, the Table To Ellilpse tool has a drop down box to select the X Field (Longitude) at 10.3:

![image](https://cloud.githubusercontent.com/assets/3093182/4634184/f75eef30-53cd-11e4-83f1-17f1bc07ef3a.png)

But in Pro this same field is a text entr

[2014-10-15 20:50] dfoll opened #136 "Validation error in Radial Line of Sight and Range"
Open up the tool, and there is immediately a validation error

![image](https://cloud.githubusercontent.com/assets/5322669/4653313/cacfb190-54ac-11e4-84dd-9237e052d89f.png)

[code]

[2014-11-04 23:39] mfunk opened #139 "Remove Range Rings from Coordinate and Conversion (Position Analysis) Tools"
Remove __Range Rings__ from Coordinate and Conversion (Position Analysis) Tools. Should only be maintained by Visibility and Range.

[2014-11-04 23:39] mfunk opened #140 "Rename Position Analysis Tools.tbx to Coordinate and Conversion Tools.tbx"
Rename Position Analysis Tools.tbx to Coordinate and Conversion Tools.tbx

[2014-11-07 18:07] mfunk opened #142 "Update Defensive Position Domain model has no output parameter."
Update Defensive Position Domain model has no output parameter.

![image](https://cloud.githubusercontent.com/assets/3093182/4957861/7deb0a74-66a8-11e4-8498-c0813473bb22.png)

[2014-11-07 18:09] mfunk opened #143 "Radial Line of Sight - Multiple Positions has no output parameter"
Radial Line of Sight - Multiple Positions has no output parameter

![image](https://cloud.githubusercontent.com/assets/3093182/4957919/32e1dc46-66a9-11e4-8289-c74e78b928bc.png)

[2014-11-07 18:11] mfunk opened #144 "Radial Line of Sight - Single Position has no output parameter"
Radial Line of Sight - Single Position has no output parameter

![image](https://cloud.githubusercontent.com/assets/3093182/4957948/7609aed6-66a9-11e4-8ea3-0c3bdadbbc73.png)

[2014-11-07 18:13] mfunk opened #145 "Radial Line of Sight and Range has no output parameter"
Radial Line of Sight and Range has no output parameter

![image](https://cloud.githubusercontent.com/assets/3093182/4957974/c01cfba4-66a9-11e4-86b1-2e6842bc841c.png)

[2014-11-10 18:31] NatalieCampos opened #147 "Build Elevation Mosaics Toolbox tools do not work in Pro"
All of the tool in the Build Elevation Mosiac toolbox currently do not work in Pro.  The dialog for adding the input elevation will not let you select a workspace but only a layer.  This has been reported to the Pro team.

[2014-11-10 21:42] pshowalter opened #149 "Geonames Tools - "Load Geonames File" - error on line 221. ArcGIS 10.2.2"
I am getting error running current tool.   The tool requires a template feature class to load the geonames data.  I did find an example on the
http://www.arcgis.com/home/item.html?id=763ede1bc09a4bc5846108b54dbcf7a5 Esri Resources page, is this ok to use.  What else might be be causing the error?

Traceback info:
  File "C:\myProjects\geonames\solutions-geoprocessing-toolbox-master\data_management

[2014-11-11 17:24] #126 closed, assigned to erikreid

[2014-11-12 19:31] dfoll opened #150 "RLOS - Single Position should clear any selected features before running"
RLOS _single position fails, returning  "empty or null geometry"  if the feature you choose to run the tool on via the dialog is different than the row that is actually selected in the table.

Executing: RadialLineofSightSinglePosition "Features\Defensive Positions" Description "East Bunker" Observation_Height ElevationSurface D:\Work\10201update\AFM-VisibilityAndRangeTemplate_10.2.0.1\data\Visibi

[2014-11-12 21:15] #53 closed, assigned to jscott11

[2014-11-13 00:04] ACueva opened #151 "test_build_elevation_mosaic failing in 10.3 Jenkins test"
http://vjenk01:8080/job/Daily%20Build%20-%20solutions-geoprocessing-toolbox/321/console

   test_build_elevation_mosaic:
     [exec] scratch.gdb already exists
     [exec] Starting Test: Build Elevation Mosaic Tools
     [exec] ERROR: Executing: BuildElevationMosaics "C:\Program Files (x86)\Jenkins\workspace\Daily Build - solutions-geoprocessing-toolbox\data_management\data\geodatabases\scratch.gd

[2014-11-13 15:39] #62 closed, assigned to jrweakland

[2014-11-15 00:00] joebayles opened #152 "Analyze Tools for Pro - Clearing Operations Toolbox Results"
@mfunk, I ran this tool in holistic because I was throwing a lot of errors trying to migrate Clearing Operations to Pro. I don't know if you want this or not, I saw you have a lot of #TODO's, but figured I'd capture it somewhere.

<code>Parameters
Input	C:\Users\htlab\Documents\ArcGIS\Projects\ClearingOperations\ClearingOperations.tbx
Output File

<code>Messages
Start Time: Fri Nov 14 15:48:39 201

[2014-11-17 19:01] #151 closed, assigned to mfunk

[2014-11-24 21:36] #91 closed, assigned to jscott11

[2014-11-25 14:44] #125 closed, assigned to mfunk

[2014-11-26 18:31] dfoll opened #158 "Radial Line of Sight and Range model will not open in ArcGIS Pro"
Radial Line of Sight and Range model will not open in ArcGIS Pro
- Forked then cloned repo
- Added the toolbox to my ArcGIS Pro project
- Open the Radial Line of Sight and Range model

![capture](https://cloud.githubusercontent.com/assets/5322669/5206562/572e2e8a-7557-11e4-93ff-c070bc638e4c.PNG)

[2014-11-26 18:44] mfunk opened #159 "Radial Line Of Sight - Multiple Positions will not open in ArcGIS Pro"
Radial Line of Sight - Multiple Positions will not open in ArcGIS Pro (today's build -- 1.0.0.1653)
1. download the current repo
2. Open ArcGIS Pro
3. Add a map
4. Add the toolbox (Visibility and Range Tools.tbx) or it's parent folder to the project
5. Double-click on the **Radial Line Of Sight - Multiple Positions** tool

![image](https://cloud.githubusercontent.com/assets/3093182/5206703/9eab8b7

[2014-11-26 18:48] mfunk opened #160 "Radial Line of Sight - Single Position will not open in ArcGIS Pro"
Radial Line of Sight - Single Position will not open in ArcGIS Pro (today's build -- 1.0.0.1653)
1. download the current repo
2. Open ArcGIS Pro
3. Add a map
4. Add the toolbox (Visibility and Range Tools.tbx) or it's parent folder to the project
5. Double-click on the **Radial Line Of Sight - Single Position** tool

![image](https://cloud.githubusercontent.com/assets/3093182/5206810/9da579ac-7559

[2014-12-01 17:39] #130 closed, assigned to erikreid

[2014-12-01 18:43] #149 closed, assigned to mfunk

[2014-12-05 18:04] #118 closed, assigned to erikreid

[2014-12-16 18:06] #121 closed, assigned to jrweakland

[2014-12-16 18:08] #122 closed, assigned to nobody

[2014-12-16 18:43] #124 closed, assigned to mfunk

[2014-12-19 21:22] #160 closed, assigned to nfeuerstein

[2014-12-19 21:22] #159 closed, assigned to nfeuerstein

[2014-12-19 21:23] #158 closed, assigned to nfeuerstein

[2014-12-19 21:23] #150 closed, assigned to nfeuerstein

[2014-12-23 14:08] #49 closed, assigned to jscott11

[2014-12-23 14:08] #50 closed, assigned to jscott11

[2015-01-02 19:37] jrweakland commented on #41
@joebayles - Take a look at @mfunk comments and provide feedback.

[2015-01-02 19:42] jrweakland commented on #37
Added to Asana - https://app.asana.com/0/23179693844547/23186355169299

[2015-01-02 19:43] jrweakland commented on #34
So the following 5 tools do NOT have tests:

- [ ] Append Tracks to DB
- [ ] Import Patrol Rpt --- Not a great tool name
- [ ] Make Track Lines
- [ ] Recalculate Delta Times
- [ ] Rejoin Track Parts

[2015-01-02 20:10] jrweakland commented on #73
Added to Asana - https://app.asana.com/0/23179693844547/23186355169309

[2015-01-02 20:17] jrweakland commented on #27
Added to Asana - https://app.asana.com/0/23179693844547/23186355169329

[2015-01-06 19:23] dfoll opened #177 "Highest Points tool still using VB expression in calculate field"
Highest Points tool still using VB expression in calculate field. This change needs made so that the tool can be properly updated for a pro version of the template

[code]

[2015-01-12 21:00] joebayles commented on #14
@jeffbaranyi, were you tracking this issue? Was there a fix ever implemented on your side?

[2015-01-13 16:47] mfunk commented on #177
Derek can you download and test?

[2015-01-13 16:48] mfunk commented on #140
Done.

[2015-01-13 16:48] #140 closed

[2015-01-13 16:51] mfunk commented on #144
Fixed.
![image](https://cloud.githubusercontent.com/assets/3093182/5724554/537f73d2-9b01-11e4-82e3-a09a6baed53e.png)

[2015-01-13 16:51] #144 closed

[2015-01-13 16:51] mfunk commented on #143
Fixed.
![image](https://cloud.githubusercontent.com/assets/3093182/5724559/5cd7b1d8-9b01-11e4-96aa-3f58833d5d20.png)

[2015-01-13 16:51] #143 closed

[2015-01-13 16:54] mfunk commented on #135
This is fixed in the current build of ArcGIS Pro.
![image](https://cloud.githubusercontent.com/assets/3093182/5724625/b5fc4954-9b01-11e4-820b-2b35e5b8115a.png)

[2015-01-13 16:54] #135 closed

[2015-01-13 16:57] mfunk commented on #113
This is a duplicate of #145: https://github.com/Esri/solutions-geoprocessing-toolbox/issues/145
Closing this one as 2 of the 3 are fixed.

[2015-01-13 16:57] #113 closed

[2015-01-13 17:01] mfunk commented on #139
@nfeuerstein @conklinbd @jrweakland  With the recent interest in Coordinate and Conversion template from customers I'm not certain we should remove this. It is still a duplication of tools (maintained in Visibility and Range Tools). What do you think?

[2015-01-13 17:09] mfunk commented on #73
@ACueva This test seems to be running as of today.. on my local machine of course. Can we verify it is running in Jenkins tests?

[code]

[2015-01-13 18:07] nfeuerstein commented on #139
I think its fine, and makes sense in the long run.  At the present time, the interested customers are on 10.2 - so we have a while to clearly communicate the changes before they get their hands on this version anyways.

[2015-01-13 18:28] mfunk commented on #61
Fixed this one.

[2015-01-13 18:28] #61 closed

[2015-01-13 18:28] mfunk commented on #59
Fixed this one.

[2015-01-13 19:05] mfunk commented on #152
@joebayles (and @rbernstein ) OK Janette has updated all of the arcpy.mp issues for the scripts in this toolbox. I need you to check it out and make sure this issue is fixed.

[2015-01-13 22:24] joebayles commented on #41
@mfunk, that's exactly what I was talking about. Thanks.

@jrweakland I'll add it to the Asana task for Range Card template conversion to Pro.

[2015-01-13 22:24] #41 closed

[2015-01-13 22:37] mfunk commented on #131
@jrweakland @erikreid guess we need to add this to Asana now.

[2015-01-13 22:53] joebayles opened #185 "Canvas Area GRG Error"
@jscott11 I was testing these tools, and received the following error message after I followed these steps:
1. Opened the Canvas Area GRG Tool (just downloaded as of afternoon of 13 JAN) in ArcGIS Pro (1.0.0, Build 1797)
2. Set the following parameters
![image](https://cloud.githubusercontent.com/assets/5016557/5730964/9a3a46ee-9b33-11e4-86b2-3581bab33779.png)
3. Clicked Run
4. Received the follow

[2015-01-13 23:03] joebayles opened #186 "Point Target GRG Error"
@jscott11 I was testing these tools, and received the following error message after I followed these steps:
1. Opened the Point Target GRG Tool (just downloaded as of afternoon of 13 JAN) in ArcGIS Pro (1.0.0, Build 1797)
2. Set the following parameters:
![image](https://cloud.githubusercontent.com/assets/5016557/5731096/ac31c754-9b34-11e4-9627-b71a53b01105.png)
3. Clicked Run
4. Received the foll

[2015-01-14 00:27] joebayles commented on #186
@jscott11 I ran it again and didn't get quite as far...
[code]

[2015-01-14 15:14] jrweakland opened #187 "Results from Hasty HLZ Model includes open water in acceptable areas"
![hastyhlz](https://cloud.githubusercontent.com/assets/5739155/5740968/01284b42-9bbd-11e4-8782-42dc04f813dd.png)

![hastyhlzwater](https://cloud.githubusercontent.com/assets/5739155/5740971/085857cc-9bbd-11e4-8e4a-7b731d22ecc0.png)

After running the Hasty HLZ Model I noticed that open water was included in the final output as an acceptable area to land a helicopter. Upon further investigation I n

[2015-01-15 19:10] joebayles opened #189 "Number Features Tool Bug"
@jscott11 , I've been working w/ @rbernstein to develop her Compound Map template, and we've found an issue with the Number Features tool.

It works great if you actually assign an *Area to Number*, but if you assign a layer incorrectly (one that's not an area), it will run "successfully" and delete the features in your *Point Features* layer.

It would be great if it either only allowed you to ch

[2015-01-15 19:15] BobBooth commented on #189
As I recall, it also deletes the points that fall outside of the Area to Number, if you give it a real area. This seems like a bad idea.

[2015-01-15 20:11] joebayles commented on #189
Agreed. Here's a screenshot from @rbernstein ... the points were on every building in the compound. After the tool ran successfully, the only result was the points in the actual polygon (in blue). Points that were inside the perimeter (in red) or around the map (outside of blue or red) were deleted.

![screenshot](https://cloud.githubusercontent.com/assets/5016557/5765532/27575662-9caf-11e4-9cfb-8

[2015-01-15 20:18] joebayles commented on #187
http://en.wikipedia.org/wiki/Amphibious_helicopter

![amphibioushelicopter](http://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HH-3F_Pelican_on_the_water_with_a_burning_boat.jpg/250px-HH-3F_Pelican_on_the_water_with_a_burning_boat.jpg)

[2015-01-15 20:22] conklinbd commented on #187
:+1:

[2015-01-15 20:37] nfeuerstein commented on #189
Is it creating a copy and then deleting the points that fall outside the area?  Or does it delete the points from the original point feature class?

[2015-01-15 20:38] erikreid commented on #187
Sigh

[2015-01-15 21:16] joebayles commented on #189
If you identify an output feature class, it will create that output feature class (without any features that weren't in the Area to Number, as intended). When it does that, however, it deletes the points from the original point feature class, which is NOT intended.

If you do not identify an output feature class, it overwrites the input point feature class (as intended).
![image](https://cloud.git

[2015-01-16 00:24] joebayles opened #190 "In Memory Feature Sets in ArcGIS Pro"
Several tools in this repository use *In Memory Feature Sets* to input parameters, like in the picture below.
![image](https://cloud.githubusercontent.com/assets/5016557/5768941/5f3373d4-9cca-11e4-96a3-eb31506d9193.png)

While this works great in ArcMap, currently this capability has not been implemented in ArcGIS Pro.

So, my question is: **Can/Should we remove the default** ```in_memory\feature_

[2015-01-16 00:43] conklinbd commented on #190
I vote for option 2. We can use Map Notes as the source for 2 if it helps but either way, the choice should be deliberate.

[2015-01-16 15:08] mfunk commented on #190
Let me talk with a few people on the GP team and see what they suggest. I'd rather not decide now, wait a day or two until I can talk with them, instead of having to rebuild the tools inputs twice.

[2015-01-16 15:14] mfunk commented on #69
Fixed this one by adding tooldata to the repo that includes the required tables, and rebuilding the path in tool Validation. @erikreid can you check this out and confirm that the Options on the dialog work?

[2015-01-16 15:46] joebayles commented on #190
That's what I was hoping you'd say!

[2015-01-20 20:50] mfunk commented on #129
Since **Suitable HLZs** no longer exists in the repo this is for **Deliberate HLZ Analysis** and **Hasty HLZ Analysis**.

For **Deliberate HLZ Analysis**:
* [ ] Parameter "UTDS Feature Set" is not a Feature Set but a Feature Dataset and should be renamed as such.
* [ ] After almost 4 hours of running the tool failed with...
[code]
I also found a few others like this too, such as Generate Point Obs

[2015-01-21 15:13] mfunk commented on #129
Actually that's it for **Deliberate HLZ Analysis**. Continued for a few hours then completed successfully...
[code]

Continuing testing with **Hasty HLZ Analysis**...

[2015-01-21 16:54] erikreid commented on #129
Yea the dissolve took too long due to a setting. The adjustments have been made.

[2015-01-21 18:32] mfunk commented on #129
OK. Need to check **Hasty HLZ Analysis** because it also took some time to run..
[code]

[2015-01-22 16:12] jscott11 commented on #186
@joebayles Can you send me, or point me to where the Pro Clearing Operations template you are using is? I'm not able to replicate this, and I think it's a folder structure issue that I'll need to fix in the script. I need to see how it's setup though, if possible.

[2015-01-22 19:29] joebayles commented on #186
Janette, I had to remove the toolbox I was using because I couldn't package with it in there, but if you open up the ClearingOperations.ppkx [here](https://esri.box.com/s/1g63k7ht4d8frpkxd8ymr9i5u2w1dyz2) and then add the toolbox you're using (I added it straight from my GitHub folder like this:
![image](https://cloud.githubusercontent.com/assets/5016557/5862807/95e77736-a229-11e4-8112-db6e960b4ae

[2015-01-22 20:40] jscott11 commented on #186
@joebayles Thanks! I'm seeing the error now! Hopefully I should have it fixed shortly.

[2015-01-22 20:58] joebayles commented on #186
Awesome! :thumbsup:

From: Janette Scott [mailto:notifications@github.com]
Sent: Thursday, January 22, 2015 12:41
To: Esri/solutions-geoprocessing-toolbox
Cc: Joe Bayles
Subject: Re: [solutions-geoprocessing-toolbox] Point Target GRG Error (#186)

@joebayles<https://github.com/joebayles> Thanks! I'm seeing the error now! Hopefully I should have it fixed shortly.

—
Reply to this email directly or

[2015-01-23 16:59] mfunk opened #194 "Build Elevation Mosaics parameter order changed between 10.2.2.2 and 10.3"
Build Elevation Mosaics parameter order changed between 10.2.2.2 and 10.3 and it is breaking our ANT tests. We cannot change order of parameters between releases as this will break any scripts that use the existing tools.

Here's what has changed:
10.2.2:
1. Target Geodatabase
2. Input Elevation Data
3. Raster Type
4. Aspect Function Template
5. Percent Slope Function Template
6. Hillshade Functio

[2015-01-23 19:06] mfunk commented on #190
Some changes to Pro 1.1 will address this, not directly, but in a pleasantly unexpected way. Can't really say more now. Sorry. :)

[2015-01-23 19:06] #190 closed

[2015-01-23 21:04] mfunk commented on #139
Fixed in commit #196

[2015-01-23 21:04] #139 closed

[2015-01-23 21:17] mfunk commented on #42
Closing this issue as this tool was removed from Visibility and Range before Release v10.2.2.0.

[2015-01-23 21:17] #42 closed

[2015-01-23 21:21] mfunk commented on #69
@erikreid can you confirm this works in your testing for the cell size/web mercator changes?

[2015-01-23 21:22] mfunk commented on #47
@jscott11 can you check it this is 'fixed' or not?

[2015-01-23 23:23] mfunk commented on #145
@nfeuerstein this is the one that we wanted to completely redo from scratch. That not the case anymore?

[2015-01-23 23:42] nfeuerstein commented on #145
Still the case, I just assigned it to you because I know you'll resolve the issue when you rebuild the tool.

[2015-01-26 14:47] jscott11 commented on #47
@mfunk this is pretty much the same problem Joe was having with #185 and #186 . I'm hoping to have a fix submitted for this today, and that'll take care of all 3 of these.

[2015-01-26 14:56] mfunk commented on #47
@jscott11 excellent. thanks for the info!

[2015-01-26 18:53] #47 closed

[2015-01-27 13:46] jscott11 commented on #186
@joebayles When you have a chance, can you retest this and #185 with the latest?
(crossing my fingers!)

[2015-01-27 15:08] joebayles commented on #186
I'll do it today... thanks @jscott11! I'm sure it'll work great!

[2015-01-27 17:30] erikreid commented on #69
Tested the tool in ArcMap and it works. In ArcPro, there are still errors:

![arcprorasteroffroadmobilityerrors](https://cloud.githubusercontent.com/assets/8561343/5923286/24c41b86-a607-11e4-9240-05c286801b10.png)

[2015-01-27 17:37] csmoore commented on #69
Looks like you can fix the exception in your exception handler while you are at it...

https://github.com/Esri/solutions-geoprocessing-toolbox/blob/master/suitability/toolboxes/scripts/RasterOffRoad.py#L319

[2015-01-27 21:53] joebayles commented on #186
Verified... works great!

Aside, I found a few mis-spellings in the tool, i.e.
![image](https://cloud.githubusercontent.com/assets/5016557/5927976/c70f4ef0-a62b-11e4-96e3-b09536e6f3fc.png)

I'll fix them and send the pull request.

[2015-01-27 21:53] #186 closed

[2015-01-27 21:54] joebayles commented on #185
Fix verified. Nice job!

[2015-01-27 21:54] #185 closed

[2015-01-27 21:56] joebayles commented on #152
Verified. :+1:
Thanks @jscott11 and @mfunk!

[2015-01-27 21:56] #152 closed

[2015-01-28 16:59] jrweakland commented on #131
@erikreid Do we have the criteria for the air mobility corridor in a military publication that we can reference?

[2015-01-28 23:06] mfunk opened #204 "Toolbox name formatting correction"
@helyx-amcmillan Need to update toolbox names for convention:
* ChangeDetectionTools.tbx to Change Detection Tools.tbx
* LandsatTools.tbx to LandsatTools.tbx

[2015-01-29 19:46] ScottCecilio opened #205 "Clearing Operations tools - lyrx file not properly being represented in Model output"
Layer symbology is not being properly displayed with ArcGIS Pro project. The model does utilize the lyrx but does not display labelling or maintain the symbology for the labels once turned on.  The tools also finished with all features in the layer selected.

Current result from the tool:
![image](https://cloud.githubusercontent.com/assets/6999909/5964774/cb471a44-a7c4-11e4-8a64-b27e0cfa23ae.png)

[2015-02-02 17:27] mfunk opened #206 "Add repo release/versioning info to README"
I need to add info on how and when we will do releases for this repo.
Obviously starting with semantic versioning http://semver.org/. But need to add how WE will decide when to do releases.
Unfortunately this still requires some discussion that we won't be doing until the end of Feb this year.

[2015-02-02 22:15] mfunk opened #207 "Fast Visibility By Circle fails with Geographic data"
Fast Visibility By Circle (data_management\test\test_publishable_tasks\TestFastVisibilityByCircle_SingleInput.py ) fails when input elevation data is Geographic. The tool test fails as the Fast Visibility By Circle Tool fails when input elevation data is in Geographic coordinates. The tool should check inputs and change option as needed with warnings.

To test:
1. Download latest repo
2. Set up re

[2015-02-02 22:26] mfunk opened #208 "Add Miscellaneous CADRG/ECRG Rasters To Mosaic Dataset fails"
The **Add Miscellaneous CADRG/ECRG Rasters To Mosaic Dataset** tool is failing it's tests because the parameter order has changed from the v1.0.2 release from the current tool.
[code]
In the previous release the parameters were:
![image](https://cloud.githubusercontent.com/assets/3093182/6010407/ef9f5968-aae6-11e4-9c2f-22a5f53b9eeb.png)

In the current tool:
![image](https://cloud.githubuserconten

[2015-02-03 16:33] mfunk opened #209 "HLZ Touchdown Points has validation error with Input Airframe Specification Table"
HLZ Touchdown Points has validation error with Input Airframe Specification Table. If you open the tool in Pro (Final) the default Airframe selection comes from some previous run of the tool with an input Aircraft_Specification table (which doesn't exist).

![image](https://cloud.githubusercontent.com/assets/3093182/6024186/303052ec-ab7e-11e4-9724-e06457e967e1.png)

But if we add a custom table th

[2015-02-05 18:30] #59 closed

[2015-02-09 21:47] joebayles commented on #14
Assigned @jeffbaranyi just in case his team solved the issue, otherwise I'll reclaim it.

[2015-02-09 21:50] joebayles commented on #37
@mfunk shouldn't this be assigned to @jscott11, since she worked on the tools before?

[2015-02-12 01:34] joebayles opened #211 "Should Range Card Toolbox include Data Driven Pages Script?"
@mfunk, since Data Driven Pages will not be implemented in ArcGIS Pro for a while, the script the Pro team created will need to be included for full functionality. Should we include that script in the Range Card Toolbox for ArcGIS Pro until that happens? I think so.

[2015-02-12 13:14] conklinbd commented on #14
reassigning back to Joe Bayles since this tool is owned by our team and we need to fix it.

[2015-02-12 18:30] joebayles commented on #14
After talking to @mfunk, he's going to look at this and get back to us.

[2015-02-12 19:07] joebayles commented on #47
@jfrygeo as the author of this issue, can you verify?

[2015-02-12 19:14] joebayles commented on #211
After discussing it w/ @mfunk, we should include it in the toolbox until a repo is created for it, and then add it as a submodule.

[2015-02-12 19:14] #211 closed

[2015-02-12 22:53] mfunk commented on #14
OK so as I understand (and remember) on this one is that the Incident Point feature set (which is set as Required/Input) is validated as ready to run, even though there is no actual point geometry as any input. When you open the tool dialog the tool looks like it is ready to run...

![image](https://cloud.githubusercontent.com/assets/3093182/6178561/fae3b306-b2c4-11e4-9354-1dfc5c91b183.png)

Howev

[2015-02-12 23:01] mfunk commented on #14
BTW, this may come back from GP as a "as designed" comment. If there is a definite need to resolve (not "fix") this for ERG tools it will ONLY be for the ERG tools. I do not think this is a good UX for tools. Mostly because until you add a single input point to Incident Points, there will be a red error X over Incident Points... meaning it is an error (though not really as we are forcing it to be

[2015-02-12 23:25] joebayles commented on #14
@LindsayThomas , after talking to @mfunk and reading what he mentioned above, I think we missed the boat for changing how in memory feature sets are handled in desktop. He's going to talk to the GP team about this specific instance and see what they suggest. As far as your specific issue is concerned, I don't know that we can update the tool, but we can update the documentation to specify the para

[2015-02-13 14:20] LindsayThomas commented on #14
@joebayles  @mfunk  Sounds good.  I think it is fine to leave in the documentation. I didn't realize this was a Core issue when I reported it.

[2015-02-13 20:41] NatalieCampos commented on #43
The tools in the Build Elevation tool box have all had the SRS changed from Web Mercator to WGS 84

[2015-02-13 20:41] #43 closed

[2015-02-13 20:43] NatalieCampos commented on #208
Tools were reverted/edited back to previous version

[2015-02-13 20:50] NatalieCampos commented on #194
The tool in the 10.3 toolbox was reverted/edited back to original.  Can you verify Matt Funk.

[2015-02-17 15:34] mfunk commented on #208
@NatalieCampos I can verify when there is a pull request to verify against.

[2015-02-18 15:32] pshowalter opened #214 "Range Fans not being constructed properly."
The Range Fan script "sourceRangeFan" appears to not be constructing the fan correctly.  It seems the problem is produced by a for loop that that loops throught the requested traversal angle, but leaves out the last vertex.

Example would be requesting fan with Traversal:  21 (degrees) ,
Maximum Range:  100,000 meters, Bearing: 100 (degrees), and appropriate Input  Surface for the aoi.  The result

[2015-02-19 19:05] mfunk commented on #80
Test written during rewrite. posted it today. @jscott11  could you test it out and close this issue if it works?
1. run ```ant``` at *.\solutions-geoprocessing-toolbox* to get the test data
2. ```cd capability\test``` and then
3. ```ant test_poo_tools```

[2015-02-19 21:36] jscott11 commented on #189
Progress!

I modified this so that it will throw an error if a polygon is not chosen for the Area.

In addition, if you do not identify an output feature class, it will keep the points in the original feature class now.  (As you can see - 4,6, and 8 were not in the area I selected.)
![overwrite](https://cloud.githubusercontent.com/assets/6684379/6273721/969690dc-b83f-11e4-89bb-55c6746dc51b.JPG)

H

[2015-02-19 22:24] mfunk opened #219 "Point Of Origin Site Detection not applying symbology in Pro 1.0"
The Point Of Origin Site Detection tool is not properly applying the symbology for the output Impact point features. This is a problem with the ApplySymbologyFromLayer tool not working properly in ArcGIS Pro 1.0.
![image](https://cloud.githubusercontent.com/assets/3093182/6277389/0df3b256-b843-11e4-9307-167ae64b1c0a.png)

The correct symbology is applied in ArcMap 10.3.
![image](https://cloud.gith

[2015-02-19 23:05] joebayles commented on #189
:+1: @jscott11
@rbernstein, since you're working on your template now, can you test this? If not, I'll get around to it.

[2015-02-19 23:14] mfunk commented on #194
Fixed with updates:

[code]

[2015-02-19 23:14] #194 closed

[2015-02-20 19:05] NatalieCampos commented on #147
this is no longer an issue.  The build elevation mosaic tools will not work in Pro and have to be rebuilt from the 10.3 version.  We are choosing to use the imagery workflows tools for the Pro project.

[2015-02-20 19:05] #147 closed

[2015-02-20 19:06] NatalieCampos commented on #208
Matt
These changes were made in the last pull request.  Can you verify?

[2015-02-20 22:24] mfunk commented on #208
I can't verify by testing as the test data has been removed, however visually the tool parameters are as they were.

[2015-02-20 22:24] #208 closed

[2015-02-20 22:26] mfunk commented on #54
Finished this one with the POO rewrite. Tool now uses Spatial Reference tool option, and spatial ref of Input Impact Points as secondary.

[2015-02-20 22:26] #54 closed

[2015-02-20 22:31] mfunk commented on #90
Finished this one as part of the Point Of Origin rewrite. This tool now has three outputs: impact points, point of origin areas, and impact ranges.

![image](https://cloud.githubusercontent.com/assets/3093182/6310578/34f2f158-b90d-11e4-9d08-63aff80a87db.png)

[2015-02-20 22:31] #90 closed

[2015-02-20 22:45] mfunk commented on #14
Hey @LindsayThomas can you check out @joebayles doc changes? If they are acceptable lets close this issue out. If not we will fix again. Thanks!

[2015-02-23 15:45] jscott11 commented on #80
@mfunk When I run the 'ant test_poo_tools', the build fails. Am I missing something that I need? Let me know if you need the full output.

     [exec] Starting Test: Point of Origin Site Detection
     [exec] ERROR: PYTHON ERRORS:
     [exec] Traceback info:
     [exec]   File "./TestPointOfOrigin.py", line 49, in <module>
     [exec]     results = arcpy.PointOfOriginSiteDetection_ptorigin(inputIm

[2015-02-23 16:42] mfunk commented on #136
@nfeuerstein Checking back in on this one, we still need this released for 10.2.2? Any chance we can do a one-off toolbox for a template rather than a 1.0.3 release for the whole repo?

[2015-02-23 17:20] mfunk commented on #120
Tried this again today with elevation service from AFMIEDEV (NSEC elevation service is not available)..
...
Unfortunately i'm still getting errors when running this from services...
[code]

However it is successful when run the tool using a local elevation dataset it works just fine...
[code]
![image](https://cloud.githubusercontent.com/assets/3093182/6332792/0e19b33c-bb3d-11e4-9421-00d7cd0541c3.p

[2015-02-23 17:23] conklinbd commented on #120
Can you try with the AGOL elevation service and see if the problem exists?

[2015-02-23 17:46] mfunk commented on #120
Unfortunately the ArcGIS.com's 'terrain' service (http://www.arcgis.com/home/item.html?id=58a541efc59545e6b7137f961d7de883) cannot be added to ArcMap. I can use **Add From ArcGIS Online**, search for 'terrain' but when you click **Add** nothing happens.

If I go and add a direct server connection...the connection is emtpy for me (permissions?):

![image](https://cloud.githubusercontent.com/assets/

[2015-02-23 18:00] conklinbd commented on #120
Are you signed in with your http://afmie.maps.arcgis.com/home/ account?

[2015-02-23 18:10] mfunk commented on #120
Esri Global Account. I'll give it a try though.

[2015-02-23 18:16] conklinbd commented on #120
Esri Global won't work. You need to use a Named User that is part of the organizational account.

[2015-02-23 18:18] mfunk commented on #120
I was able to add it that way. Guess my Global Account is worthless. Anyway with the AGOL Terrain dataset the tool works fine.

[code]

![image](https://cloud.githubusercontent.com/assets/3093182/6333840/3601d638-bb45-11e4-90e1-11a72ed6cc5f.png)

As I suspect the problem could very well be with OUR elevation services and not the tool. Going to close this one out.

[2015-02-23 18:18] #120 closed

[2015-02-23 18:33] mfunk commented on #123
Tested this with AGOL's Terrain elevation dataset and some local point data. However I'm getting an error message when I run it...

[code]

The path its complaining about is *C:\Users\matt2542\Documents\Users\erik0000\Desktop\Workspace\Geospatial Data\scratch.gdb\bufferExtract* and obviously doesn't exist. If I look at the model I can see that the output from **Extract By Mask** is not set to a sc

[2015-02-23 18:33] #123 closed

[2015-02-23 19:07] mfunk commented on #119
Tested with AGOL Terrain service and tool works well..

[code]

![image](https://cloud.githubusercontent.com/assets/3093182/6334849/1273fb86-bb4c-11e4-8c4c-87c3396b148e.png)

[2015-02-23 19:07] #119 closed

[2015-02-23 20:20] nfeuerstein commented on #136
@mfunk Yes, I don't think we want to do an entire release of the repo to fix this.  We should just release the template with working tools at the correct versions.  This should be addressed during the stand down.

[2015-02-23 23:08] mfunk commented on #127
Tested this with AGOL's Terrain service (as both elevation and percent slope) and it completes successfully, with correct cell size...

[code]

![image](https://cloud.githubusercontent.com/assets/3093182/6339745/9e45caba-bb6d-11e4-8ca3-92e6ab65b19d.png)

[2015-02-23 23:08] #127 closed

[2015-02-24 15:04] jscott11 commented on #80
@mfunk  It's good, all passed! :+1: (It was just my version of ArcGIS before.)

[2015-02-24 15:04] #80 closed

[2015-02-24 15:48] mfunk commented on #69
@jrweakland @erikreid the original cell size projection issue was fixed separately a week or so ago. This fix is for the exception handler. Please test and close or update as necessary.

[2015-02-25 15:24] mfunk commented on #129
Tested this with AGOL service data and works just fine.

[code]

![image](https://cloud.githubusercontent.com/assets/3093182/6373390/399e4b2a-bcbf-11e4-8723-8bd809eedf1d.png)

[2015-02-25 15:24] #129 closed

[2015-02-25 16:03] mfunk commented on #128
Suitable Drop Zones:

![image](https://cloud.githubusercontent.com/assets/3093182/6374090/87331fb0-bcc3-11e4-9b9b-5f9ea82172e9.png)

Hasty HLZ Analysis:

![image](https://cloud.githubusercontent.com/assets/3093182/6374277/bb734d44-bcc4-11e4-8b9d-79f3ee4bdba9.png)

With our limited set of vegetation data I cannot tell if this works well enough or not. It produced results that would seem acceptable

[2015-02-25 16:03] #128 closed

[2015-02-25 16:14] mfunk commented on #117
@erikreid I'm looking at the Concealment tool but i'm not seeing where the buildings are used as input into the tool. Right now the tool accepts:
1. Input Area of Interest
2. Input Combined Vegetation Coverage
3. Output Concealment
4. Spatial Reference (optional)

![image](https://cloud.githubusercontent.com/assets/3093182/6374414/95ee98fc-bcc5-11e4-970c-7803761da0d1.png)

I checked for updates to

[2015-02-25 17:05] erikreid commented on #117
The concealment tool bases its analysis on the F-Code, which are pulled from the intermediate layer generation. You are correct that the Generate Intermediate Layers do not take StructureSrf into account. Other tools within the MAoT toolbox do use that layer because they pull directly from the TDS dataset. So we can either adjust Concealment to pull in those additional layers, or adjust the Genera

[2015-02-25 17:20] mfunk commented on #214
Tested with bearing 120.3 and traversal 135.8...

[code]

Left bearing should be 120.3 - (135.8 / 2) = **52.4**
Right bearing should be 120.3 + (135.8 / 2) = **188.2**

1. Start Edit Session
2. COGO tools >> COGO Report
3. Select Direction and Distance Of A Line
![image](https://cloud.githubusercontent.com/assets/3093182/6375787/40607780-bcce-11e4-8392-ff6b36de81f5.png)
4. Click center point, then

[2015-02-25 17:20] #214 closed

[2015-02-25 17:55] mfunk commented on #214
Ahhh the dangers of coordinate systems. The Range Fans are building features correctly. The COGO report is showing incorrect distances because my Data Frame's coordinate system was Web Mercator (I was using this MXD for my Web Merc transition testing and forgot to reset it). Anyway the distances and angles being created by the Range Fans tool are correct...

![image](https://cloud.githubuserconten

[2015-02-25 19:13] mfunk commented on #117
Perhaps we need to start thinking about another configuration tool for buildings, say a *Buildings and Structures* layer. Again there are different types of structures spread across UTDS datasets (eg. BARN is under AGRICULTURE and CASTLE is under MILITARY). With that we can then add an option to the tool to include this layer, just as we did for *Combined Vegetation Coverage*. That sound like a us

[2015-02-25 23:29] mfunk commented on #51
Should be fixed now. @jrweakland please test and close or update. Thanks.

[2015-02-25 23:40] mfunk commented on #104
@nfeuerstein @jrweakland So this is another case where we had several early templates that shared common tools. So we duplicated the tools among the toolboxes as needed. Unfortunately this means if changes are updated in one place, they must be made in all of the other copied locations as well. Double that for Desktop and Pro templates and this becomes crappy management task. Since we already main

[2015-02-26 00:30] nfeuerstein commented on #104
@mfunk, barring objections from @jrweakland, I agree with you.  We should only maintain the tools in the Visibility and Range toolbox, in github.

[2015-02-27 15:59] pshowalter opened #227 "Incident Analysis - Find Percent Change - should be showing decrease, but shows increase"
Setup: Run the: data_management\toolboxes\Adjust Sample Data Dates Tools.tbx\Change Sample Data Dates to Recent Dates

Run the “Find Percent Change” using Month Before Last as (Old Activity) and Last 30 days as (New Activity)
![image](https://cloud.githubusercontent.com/assets/6842145/6415807/5773eca2-be6f-11e4-95c3-4644527120e5.png)

Result will be 6% form District 1 (D1).
![image](https://cloud.

[2015-02-27 17:16] csmoore commented on #36
Is this still an issue?

How does the MAOW toolbox relate to this repo?
https://github.com/ArcGIS/solutions-raster-functions

(just wondering since I don't see a tbx there)

[2015-02-27 18:49] mfunk commented on #36
Sure. Are you volunteering?
The other repo is for keeping and managing raster functions just as this repo is for geoprocessing tools.

[2015-02-27 19:01] csmoore commented on #36
I was just trying to locate the current (version-controlled) version of the toolbox (& told by @joebayles that's where it is) since it was mentioned the template was releasing soon...

[2015-02-27 19:06] mfunk commented on #36
That's the only GitHub version of the MAoW toolbox that I know of. @dmMartin was the last person to use it that i know of.

[2015-02-27 20:01] csmoore commented on #36
If (only github version) == (current github version releasing with the template)

then sounds like you have answered my question of where it is.

[2015-03-03 14:07] csmoore commented on #34
Just a follow up :

You can remove these 3 from the list of those needing tests:

* Make Track Lines
* Recalculate Delta Times
* Rejoin Track Parts

test_distinguish_tracks - calls "Distinguish Tracks" which calls "Make Track Lines" and "Recalculate Delta Times"
Rejoin Track Parts - requires user input and a user selection so doesn't really make sense in an automated test

Also - it wasn't possibl

[2015-03-03 16:00] csmoore opened #229 "Data Management Test Failing"
Tested on 10.3 - output:

[code]

[2015-03-03 16:06] csmoore opened #230 "Add Unit Tests for Data Management\Mosaic Dataset Toolboxes"
These:

- [x] CADRG ECRG Tools.pyt
- [x] CIB Tools.pyt
- [x] Elevation Tools.pyt
- [x] LiDAR Elevation Tools_10.3.tbx (update based on comment below)

Also in cases where a tool is repeated in the above .pyt and in another existing toolbox (.tbx) - we might need some guidance on which one to use in readme.

[2015-03-03 16:14] mfunk commented on #230
Also...
* [ ] LiDAR Elevation Tools_10.3.tbx needs tests written

[2015-03-03 16:38] csmoore commented on #14
@mfunk this can probably be auto-closed as "unverified" at this point

[2015-03-03 16:42] #14 closed

[2015-03-04 15:50] LindsayThomas commented on #14
I reviewed the change, they look good.

[2015-03-04 18:33] mfunk commented on #69
Closing as unverified.

[2015-03-04 18:33] #69 closed

[2015-03-04 18:43] mfunk commented on #46
Web Mercator issues were fixed in recent commits by 1) adding Spatial Reference option and 2) by choosing between SR option and Input Centers as the default spatial reference.

@jyi67 would you please retest?

[2015-03-04 18:47] mfunk commented on #114
@jscott11 do you have any thoughts on this one? It's been awhile and somehow with your work on the tools I think you might have either come across this already or fixed it already.

[2015-03-04 18:49] mfunk commented on #37
@jscott11 Can you check this one out also?

[2015-03-04 19:00] mfunk commented on #40
This issue was moved to ArcGIS/solutions-templates#22

[2015-03-04 19:00] #40 closed

[2015-03-04 19:02] mfunk commented on #73
Closing this as unverified.

[2015-03-04 19:02] #73 closed

[2015-03-04 19:08] mfunk commented on #36
Going to close out this issue for now. Original MAoW tools were only release as part of the template. If we (not me) decide that the tools need to be moved then we will reopen this issue.

[2015-03-04 20:14] conklinbd commented on #36
There are some tools in the new version (for pulling data on a scheduled basis. These tools need to be in this repository. @jrweakland

[2015-03-04 21:36] jrweakland commented on #51
I added this issue to the current sprint.

[2015-03-05 20:36] abhiataero opened #232 "The MDCS scripts are missing if a user downloads it as a zip file"
The MDCS scripts are missing if a user downloads it as a zip file

this break the python tool boxes ( CIB, CADRG,Elevation)

[2015-03-06 16:33] mfunk commented on #232
Hi @abhiataero did you run the **config_mdcs.bat** in the *data_management\toolboxes\config_mdcs* folder? Check the [README.md](https://github.com/Esri/solutions-geoprocessing-toolbox/blob/master/data_management/README.md).

[2015-03-06 16:39] csmoore commented on #232
We might have to update the main readme:

https://github.com/Esri/solutions-geoprocessing-toolbox#getting-started-with-the-tools to tell folks

1. They have to *clone* the repo now (vs. getting a zip)
2. That "Note: these component have additional configuration steps" & a link to those that do

Might be a dumb question, but I wonder it these submodule files will be in the [Releases](https://github

[2015-03-06 16:41] mfunk opened #233 "Addition of new toolboxes needs to be documented"
@NatalieCampos
Addition of new toolboxes needs to be documented. We added 3 new PYTs and modified one TBX.
* Added **CADRG ECRG Tools.pyt**
* Added **CIB Tools.pyt**
* Added **Elevation Tools.pyt**
* Moved some tools in **Build Elevation Mosaic Tools.tbx** and need to add comment that it will be deprecated soon.

This must be done in two README.md files:
* The main *.\solution-geoprocessing-toolbo

[2015-03-06 16:59] mfunk commented on #232
Well if you have GIT installed when you download the ZIP it will not be a problem, the BAT file will get the mdcs files as needed, and then overlay the solutions-specific files needed in the mdcs folder.

However do we want to force all users to have GIT installed for any ZIP file we give them? This changes requirements in our Solutions Pages that i'm working on, so we need to decide now.

[2015-03-06 17:14] conklinbd commented on #232
We do not want to require people to have git installed when they download the zip. Remember that the purpose of the zip files is to take our solutions and deploy them on their own networks, where they don't have access to github.

[2015-03-06 17:59] mfunk commented on #232
So that leaves us with two options:

1. have a deployment script (PY?) that downloads and copies the MDCS repo ZIP contents to a known folder and then overlays the file. More upfront work, but less maintenance.

2. Have a static copy of the MDCS in our own repo. Easier up front, but much more maintenance.

[2015-03-09 15:06] csmoore commented on #232
@mfunk - Another option is to add a full deployment version of the zip to the Release Pages (when you officially release this).

For any release you can add any addition files/zips to a release if you want: https://github.com/Esri/solutions-geoprocessing-toolbox/releases/edit/v1.0.2 ("Attach binaries" section).

Hopefully the official releases are the ones that we care most about not requiring git

[2015-03-10 18:27] mfunk commented on #232
Unfortunately the MDCS repo is looking for the scripts in a specific folder location relative to the PYTs that we are using. Also you'd still have to do the file overlay. In the end we will just copy the mdcs-py repo until we can come up with some kind of management script to do the copy for us.

[2015-03-11 17:16] mfunk opened #234 "Need deprecation warnings added for several toolboxes"
Need correct deprecation warnings added for several toolboxes:

* .\data_management\toolboxes\Build Elevation Mosaic Tools.tbx
* .\data_management\toolboxes\Build Elevation Mosaic Tools_10.3.tbx
* .\data_management\toolboxes\Imagery Basemap Tools.tbx
* .\data_management\toolboxes\Imagery Basemap Tools_10.3.tbx
* .\data_management\toolboxes\Scanned Map Basemap Tools.tbx
* .\data_management\toolboxe

[2015-03-12 15:30] mfunk commented on #101
Tested this again today on 10.3 Final and the Delete_management tool is still unable to remove locators from a file geodatabase.

[2015-03-12 21:36] mfunk opened #237 "test_local_peaks fails with parameter error"
In running *test_local_peaks* in the *test_maot* test (.\solutions-geoprocessing-toolbox\suitability\test) the tool fails with the following error:

[code]

The error seems to suggest that the input elevation's URL (http://afmcloud.esri.com/arcgis/servic
es/Environment/DigitalTerrainModel/ImageServer) is no good. Which is quite possible.

[2015-03-12 21:43] pshowalter opened #238 "Point of Origin Detection"
Using the Point of Origin Tools_10.3.tbx Tool works in 10.3 when using interactive entry of point into a feature_set.  If I create my own feature class in UTM 10 N over Monterrey, the tool will error at the point of creating buffer.

Executing: PointOfOriginSiteDetection pood_impacts_monterey_01_UTM10N C:\myProjects\GitHub\solutions-geoprocessing-toolbox\capability\toolboxes\tooldata\PointOfOrigin

[2015-03-12 22:16] mfunk commented on #233
Completed.

[2015-03-12 22:16] #233 closed

[2015-03-12 22:17] mfunk commented on #232
At this point the solution was to copy the whole MDCS folder to .\solutions-geoprocessing-toolbox\data_management\toolboxes. That is now completed.

[2015-03-12 22:17] #232 closed

[2015-03-12 22:18] mfunk commented on #204
Resolved in pull #231

[2015-03-12 22:18] #204 closed

[2015-03-13 10:54] csmoore commented on #5
@elinz @mfunk Does this Pull Fix this issue? https://github.com/Esri/solutions-geoprocessing-toolbox/pull/236

[2015-03-13 18:17] mfunk commented on #5
Yes it does....

[code]

Note the input text is 'af.txt' and it completed all 343234 records.
To be fair I pulled a new 'af.txt' from NGA and copied it into place with the fr.txt that always worked, added a new line in the test PY and ran the test again.
I will not be uploading the 'af.txt' with the test data.

[2015-03-13 18:17] #5 closed

[2015-03-24 17:35] jrweakland commented on #51
Tested.

[2015-03-24 17:35] #51 closed

[2015-03-27 16:54] mfunk opened #241 "Need to write tests for Military Aspects of Weather Tools"
Military Aspects of Weather Tools_10.3.tbx has been added to Suitability. Tools tests need to be written for:
* Import GRIB Files
* Import NetCDF Files
* Inspect GRIB Folder
* Inspect NetCDF File
* Create Wind Attributes

[2015-03-27 16:56] mfunk commented on #36
Added **Military Aspects of Weather Tools_10.3.tbx** into *Suitability* folder, and RETIRED the old repository: https://github.com/ArcGIS/military-aspects-of-weather-toolbox-RETIRED

Also added #241 to add tests for the 10.3 tools.

[2015-03-27 16:56] #36 closed

[2015-03-31 14:35] mfunk commented on #46
Closing.

[2015-03-31 14:35] #46 closed

[2015-04-01 17:50] dfoll opened #244 "Radial Line of Sight and Range tool still has a reference to the computer it was posted from"
the Output Workspace parameter still has a default of
D:\Users\matt2542\Documents\GitHub\solutions-geoprocessing-toolbox\visibility\data\Results.gdb.

this does not affect how the tool runs, but we could clean this up.

[2015-04-01 17:56] dfoll commented on #244
![image](https://cloud.githubusercontent.com/assets/5322669/6947684/c3bf9782-d85d-11e4-8f17-8abe016bebc7.png)

[2015-04-01 18:27] mfunk opened #245 "Sub Depth Restriction Analysis is missing default input table"
The **Sub Depth Restriction Analysis** tool in *Maritime Decision Aid Tools* toolbox (10.3 and Pro) are missing the default 'Sub_Specs' table. We probably had the tool added without including the inputs in the 'tooldata' folder in the repo. This is causing the tool to have a validation error on Open

![image](https://cloud.githubusercontent.com/assets/3093182/6948232/43625314-d861-11e4-8297-64c60c

[2015-04-01 18:28] mfunk commented on #245
@jfrygeo Don't think we had tooldata set up when the toolbox was added to the repo.

[2015-04-01 18:30] jfrygeo commented on #245
@mfunk Yes, I think that is probably what happened. There was a table in one of the file geodatabases that fed the tool.

[2015-04-01 21:10] mfunk commented on #244
Try it now... cleaned up with https://github.com/Esri/solutions-geoprocessing-toolbox/pull/246

[2015-04-03 16:24] dfoll opened #248 "Tool help for Range"

[2015-04-03 16:27] dfoll opened #249 "Tool help for Range Fan is not accurate"
The tool help for the parameter Spatial Reference states " If no coordinate system is selected then the coordinate system of the Input Centers parameter is used as the common spatial reference.", however when you run the tool that parameter is not actually an optional parameter.Either the parameter should be made optional, or the tool help should be changed.

[2015-04-03 21:07] mfunk commented on #249
@dfoll What are the results you are seeing? How do you know it is not optional? Need more info.

[2015-04-06 16:04] #248 closed

[2015-04-09 16:16] jrweakland commented on #245
@jfrygeo - please provide @mfunk the necessary files.

[2015-04-09 16:27] jrweakland commented on #219
@mfunk - have we tried to run this tool in Pro 1.1 daily builds?

[2015-04-09 16:52] jrweakland commented on #205
@mfunk - same as https://github.com/Esri/solutions-geoprocessing-toolbox/issues/219. I would verify with Pro 1.1 daily builds.

[2015-04-09 16:54] jrweakland commented on #189
@rbernstein - please test his when you come to Redlands.

[2015-04-10 16:06] topowright opened #250 "Explanation of real world use"
Explain to users that they can use this toolbox directly from GitHub repository

[2015-04-10 16:15] joebayles commented on #250
@topowright (who should correct me if I'm wrong) means explaining how to clone a fork of this repository to one's local machine and linking that up to date solutions-geoprocessing-toolbox folder (or subfolder) with the ArcGIS Pro project or ArcMap map document.

I agree, and think that explanation should live here and in the https://github.com/joebayles/arcgis-solutions-website (or at least comple

[2015-04-16 14:57] mfunk commented on #250
@topowright @joebayles I do not agree. Remember that GitHub is a tool for developers, not GIS users, who want the tools without the templates, or want to modify the tool. If we want to explain to users how GitHub works, can do this on the Solutions Pages, **not here**. I can add some instructions to the Getting Started page in Solutions Geoprocessing Toolbox to point users to the GitHub help for t

[2015-04-16 18:29] joebayles commented on #250
@mfunk I like your answer it sounds like they'll complement each other. :+1:

[2015-04-17 16:11] mfunk opened #251 "Change Detection Tools.tbx do not have tool help"
Change Detection Tools.tbx do not have tool help

If you open the tools in ArcGIS Pro and click on the help button the help topic is empty. Something might have happened to the help topics of it existed before. But now this is all I see:

-----------------------------------------------------------------------------------------------------

![image](https://cloud.githubusercontent.com/assets/309318

[2015-04-17 16:14] mfunk commented on #251
@helyx-amcmillan @NatalieCampos Not sure if these tools had help topics and something happened or something else. Anyway I found this because I need to know what *IMAD* means for the Solutions Pages for the tools.

[2015-04-17 16:23] mfunk opened #252 "Landsat Pre Processing Tools.tbx do not have tool help"
Like *Change Detection Tools.tbx* the tools are missing help topics in ArcGIS Pro.
ALL tools need to have:
* Description (including explanation of acronyms)
* Usage (tips and tricks of using the tool)
* Parameter explanations
* Tags
* Credits (source of methodology, etc.)

The tools that are missing stuff are:
* [ ] ACCA Cloud Mask (missing Description, Usage, Tags, Credits)
* [ ] Cloud Masking (m

[2015-04-17 17:54] NatalieCampos commented on #251
@helyx-amcmillan or @nfeuerstein Would be able to do this. I haven't worked on the latest version of the tools/template

[2015-04-17 18:01] topowright commented on #250
@joebayles @mfunk Got it.

[2015-04-21 00:19] rfeuerstein opened #253 "Scripts & Visibility and Range Tools_10.3.tbx"
Received the following error running the Radial Line of Site - Multi Positions tool in 10.3...

		Executing: RadialLineofSightMultiplePositions Border_Peaks pointid Elevation Border_DTED_Clip C:\Products\Border\BorderObservationPoints\BorderObservationPoints.gdb LOS_Viewshed_MP false
		Start Time: Mon Apr 20 16:58:36 2015
		Executing (Radial Line of Sight - Multiple Towers): TowersRadialLineOfSigh

[2015-04-21 13:42] mfunk commented on #253
@rfeuerstein I'm seeing some weird naming stuff going on between the model, the script tool, and the script file. The model calls *Radial Line of Sight - Multiple Towers*, but the model tool's actual name is *TowersRadialLineOfSight2*... really bad naming there. The Name should be similar to the Label (Radial Line of Sight - Multiple Towers), but without spaces: *RadialLineofSight-MultipleTowers*.

[2015-04-21 14:54] mfunk commented on #253
@rfeuerstein Made some changes that are working on my end. Need you to test it out, just as you did before. If it works, close the issue. If not, need more info. Thnx.

[2015-04-21 21:10] NatalieCampos opened #255 "Elevation mdcs tools do not have LERC compression set as default"
The elevation mdcs scripts need to have the mosaic dataset properties set so that LERC is the default compression.  This setting/property is important when creating Cached Elevation Services for use in the 3d scene viewer

[2015-04-22 20:07] #250 closed

[2015-04-22 20:09] conklinbd commented on #206
Is this still open? I thought we sorted this out.

[2015-04-22 21:06] mfunk commented on #206
@conklinbd probably doesn't need to be.

[2015-04-22 21:06] #206 closed

[2015-04-23 04:52] rfeuerstein commented on #253
![image](https://cloud.githubusercontent.com/assets/7117658/7290777/daaab44e-e939-11e4-9155-d63bb9db0b37.png)

The Radial Line of Sight – Multiple Towers script tool in the SourceScripts for Visibility and Range Tools_10.3 is pointing to \\scripts\TowersLOS.py which can be found in the scripts folder in the Visibility folder on GitHub; however, it is not downloaded with the VisibilityandRangeTools

[2015-04-23 12:54] helyx-amcmillan commented on #251
@mfunk I stopped development on this set of tools because we were going to consider redeveloping them as raster functions in Core instead. Because they were third party tools we had issues with upgrading them to use in Pro, and referring to them in tasks was throwing errors. I would suggest it would be useful to archive them somewhere, but I would say they're not in a state to release.

[2015-04-23 14:28] mfunk commented on #253
@rfeuerstein not sure what you mean by 'it is not downloaded with the VisibilityandRangeTools_10.3.tbx'. The TowersLOS.py is downloaded with the repo, and with both ZIP files in the first BOX folder listed above.

I'm guessing the inputs you used were as follows:
![image](https://cloud.githubusercontent.com/assets/3093182/7298915/7e256fa4-e987-11e4-9700-c404c17d335f.png)

Anyway I found the bad/mi

[2015-04-23 14:41] mfunk opened #257 "Radial Line Of Sight - Multiple Positions uses hardcoded RADIUS2 measure of 4000 units"
Radial Line Of Sight - Multiple Positions uses hardcoded RADIUS2 measure of 4000 units.
The tool uses ..\visibility\toolboxes\scripts\TowersLOS.py, where line 156 sets the values:

`obsMaximums = {'SPOT':None,'OFFSETA':towerHeight, 'RADIUS2':4000, 'REMOVE_SPOT':False}`

As far as I can tell this will ALWAYS use 4000 units to do the viewshed from each observer point. So if an observer falls on the

[2015-04-23 14:41] mfunk commented on #253
Logged #257 for the subsequent error.

[2015-04-23 14:41] #253 closed

[2015-04-23 15:36] mfunk commented on #251
@nfeuerstein @conklinbd should these be slated for deprecation?

[2015-04-23 16:38] nfeuerstein commented on #251
@mfunk I don't think we need to deprecate them since they were never released.  We should probably have a branch for tools that are truly in development and not ready to be released - and these tools should go there.

[2015-04-23 16:42] nfeuerstein commented on #257
@mfunk I know exactly where it came from, but it wasn't a user requirement and wasn't based on any real-world logic.  Just to make sure I'm following: 4000 units is referring to the map units right?  So, if the map units are meters then the tool wants 4000 meters of surface around a given point for the viewshed?

[2015-04-23 16:50] mfunk commented on #257
This is where the explanation is complicated, but the answer is simple. The RADIUS2 key value is only storing a number: 4000. No units. That is left up to the tool to figure it out, in this case both **Buffer_anlaysis()** and **Viewshed_spatial()**. The one thing that saves us with this tool is that, like **RLOS_VandR()**, it projects the inputs (both I think) into a localized Azimuthal Equidistan

[2015-04-23 16:53] nfeuerstein commented on #257
Yep, that's complicated.  Regardless, though, I'm with you that its dangerous and definitely not preferred to hardcode situational parameters, like the size of the elevation surface, in the script.  Would it make sense to expose this as a parameter or to pull from the input?

[2015-04-23 17:16] mfunk commented on #251
A branch would be fine, but should be up to the developer to branch on their remote so the Esri master is maintained. When development is complete then the branch can be merged and PR'ed.

[2015-04-23 17:17] conklinbd commented on #251
concur with with approach.

[2015-04-23 17:23] mfunk commented on #257
Either case is acceptable. We used to do this with some of the older tools and in the old Military Analyst extension. I'm thinking that perhaps there is another way we should be looking at this. Might need to discuss when we start planning for next V&R template kick-off. I think we should consider separating the creation/use of observers, and the actual viewshed/line-of-sight. We have MANY cases f

[2015-04-23 17:30] nfeuerstein commented on #257
Agreed, in the meantime what is the easiest/best fix?  Use a larger elevation surface with a minimum of 4000 units from each observer point?

[2015-04-23 17:50] mfunk commented on #257
In this case the best and easiest fixes are the same: document it. For now the tool *Usage* should have a bullet point that says the range is fixed at 4000 meters in a localized Azimuthal Equidistant. See the **RLOS_VandR()** help for ideas of how we should be doing it.

BTW this probably also applies to **Radial Line Of Sight - Single Position**. :grimacing:

[2015-04-24 15:08] mfunk commented on #136
@nfeuerstein Is this one still and issue with the 2.0.0 release done already?

[2015-04-24 15:08] mfunk commented on #249
No comment in three weeks.... closing.

[2015-04-24 15:09] mfunk commented on #244
No response in 3 weeks ... closing.

[2015-04-24 15:09] #244 closed

[2015-04-24 18:01] dfoll commented on #249
i'm seeing that the tool won't let you run it without entering that parameter

[2015-04-24 18:15] nfeuerstein commented on #136
@dfoll - could you answer @mfunk question?

[2015-04-24 19:37] #234 closed

[2015-04-28 16:48] #131 closed

[2015-04-28 16:49] #27 closed

[2015-05-01 14:27] mfunk opened #260 "Propose new Labels for toolbox type"
All,
To better sort and filter issues I'd like to propose a set of labels to relate the issue to a specific type of toolbox, or which *folder* the issue is related to:

* F - All
* F - Capability
* F - Data Management
* F - Operational Graphics
* F - Patterns
* F - Suitability
* F - Visibility

The **All** label would be for issues/changes/enhancements that would affect ALL of the tools. I'm undec

[2015-05-01 14:31] conklinbd commented on #260
I think this is a good idea. Most of the issues would fit into a single label.

[2015-05-01 14:31] jrweakland commented on #117
@erikreid - please take a look at this when you get back tot he solutions division.

[2015-05-01 15:14] nfeuerstein commented on #260
:+1:

[2015-05-01 18:22] pshowalter opened #261 "Need to update Weapons table with new version."
.\solutions-geoprocessing-toolbox\capability\toolboxes\tooldata\PointOfOrigin.gdb\Weapons table should be updated with the table used in 10.3 template.  The new table was created based on published reference.

[2015-05-01 21:16] mfunk opened #262 "Adjust Sample Data Dates to Recent Dates fails in Pro"
Trying to use this to test Incident Analysis Tools.tbx in Pro 1.1 Build 3100. I started by importing the Incident Analysis Template.mxd into Pro. All of the data came with it including the various Incident layers. So I figure I'll try **Adjust Sample Data Dates to Recent Dates**.

1. Open the tool
2. The default *Input Feature Class* is already pointing to my *All Incidents* field and there are no

[2015-05-01 21:21] mfunk commented on #262
* In *Calculate tempDate field* I moved the line ```from dateutil.parser import*``` outside of the module.
* Change Expression Type to **PYTHON9.3** for all of the Calculate Field tools.

After this change the tool is running in Pro.

[2015-05-01 21:21] #262 closed

[2015-05-01 21:26] mfunk opened #263 "Find Percent Change has a few problems"
Testing **Find Percent Change** in Incident Analysis Tools.tbx (for Pro) in Pro 1.1 Build 3100 and I've found a few things that need to be fixed.

* [x] First the Name of the tool is *PercentChange2* and needs to be changed to *FindPercentChange* to match the Label.
* [x] The use of **Feature Class To Feature Class** is making it so the output is not a parameter the user can modify. The output wil

[2015-05-01 22:05] joebayles commented on #260
:+1:

[2015-05-04 14:28] mfunk commented on #261
@pshowalter would you replace the updated table and make a pull request? Thanks.

[2015-05-04 15:12] mfunk opened #264 "Hot Spots by Area has a few things that need to be fixed."
* [X] Name is *AOIHotSpots* but should be *HotSpotsbyArea*.
* [X] Naming two parameters "Input Features" is really confusing. While the input parameters should identify if it is an input or an output, it should also uniquely identify WHAT the parameter is. I would have chosen *Input Area of Interest Feature* over *Input Features (Area of Interest)*, and *Input Incident Point Features* over *Input

[2015-05-04 15:46] mfunk commented on #264
@nfeuerstein @dfoll I notice that this tool is in the Pro toolbox (Incident Analysis Tools.tbx) but *NOT* in the 10.3 toolbox (Incident Analysis Tools_10.3.tbx). I don't think this is right, but I could be wrong. Should it be in both toolboxes?

[2015-05-04 16:09] nfeuerstein commented on #264
@mfunk You're correct.  It should live in both toolboxes.

[2015-05-04 20:54] mfunk opened #266 "Some issues with Incident Density"
Some minor issues with Incident Density:
* Parameter names need to be updated
     * [X] change *Input Features (Incident Points)* to *Input Incident Point Features* for readability
     * [X] move *Bounding Polygons Defining Where Incidents Are Possible* from the parameter name to it's help topic. Name should be something a little more succinct like *Input Incident Boundary Features*.
* [x] Getti

[2015-05-04 21:13] mfunk opened #267 "Some issues with Incident Hot Spots"
Some issues with **Incident Hot Spots** in Incident Analysis Tools.
* Needs updates to parameter names:
     * [X] First parameter is *Input Features*. We could probably make this a little more clear and specific to this tool. Something like *Input Incident Point Features* might be better.
     * [X] *Bounding Polygons Defining Where Incidents Are Possible* is more of a description than a name. *I

[2015-05-04 21:41] mfunk opened #268 "Small issue with Incident Table To Point"
Small issue with **Incident Table To Point** in Incident Analysis Tools.
* [X] Tool's Name (TableToPoint) should more closely match Label: **IncidentTableToPoint**

NOTE: could not test on Pro as Pro does not support the include test XLSX.

[2015-05-04 22:07] #264 closed

[2015-05-04 22:09] #268 closed

[2015-05-05 15:16] mfunk commented on #266
Tried the same inputs with **Optimized Hot Spot Analysis** in the Spatial Statistics Tools toolbox. I get the same error. So something in ArcGIS Pro is making this fail.

[code]

@nfeuerstein any idea who works on the Spatial Stats tools, and would they be willing to check this out?

[2015-05-05 15:23] nfeuerstein commented on #266
@mfunk - Either of the Laurens (Bennett or Scott) could point you to the right person.

[2015-05-05 15:33] conklinbd commented on #266
Is this issue with a daily Pro build? There were issues with some Spatial Stats tools in Pro 1.0 that were fixed in the patch ( I believe).

[2015-05-05 15:34] mfunk commented on #266
@conklinbd  ArcGIS Pro 1.1 Build 3100

[2015-05-05 15:37] conklinbd commented on #266
Yeah. Hit up the Lauren (s)

[2015-05-05 16:40] mfunk commented on #266
@nfeuerstein @conklinbd Closing this one out. I updated to ArcGIS Pro 1.1 Build 3112 and the tool runs just fine:

[code]

[2015-05-05 16:40] #266 closed

[2015-05-05 16:42] mfunk commented on #267
I updated to ArcGIS Pro 1.1 Build 3112 and the tool is running as expected now:

[code]

[2015-05-05 16:42] #267 closed

[2015-05-05 16:54] mfunk commented on #263
I'm not certain if the solution was included in the update to ArcGIS Pro 1.1 Build 3112, but the symbology is being applied correctly:

[code]

![image](https://cloud.githubusercontent.com/assets/3093182/7478042/bed978ae-f30c-11e4-8506-86feb57fb2cc.png)

[2015-05-05 16:54] #263 closed

[2015-05-05 17:02] mfunk commented on #260
OK. feeling antsy about this one and going to go ahead and implement as above, including the "F - All" label, and then close this out.

[2015-05-05 18:19] mfunk commented on #251
These tools were removed from the whole repo per discussion with @nfeuerstein .

[2015-05-05 18:19] #251 closed

[2015-05-05 18:22] mfunk commented on #252
These tools have been removed from the repo per discussion with @nfeuerstein. These contained third-party tools that could not be released. Also these tools were not part of the target template.

[2015-05-05 18:22] #252 closed

[2015-05-08 04:24] jrweakland opened #269 "Import NetCDF File throws warning at 10.2.2 and Pro"
_From @mfunk on April 22, 2014 21:56_

Came across this warning using the 'forecast.nc' file included with the MAoW template. For some reason it seems to have trouble doing conversions (and also derivatives). The error (actually Warning) is:

*ConvertMetresToFeet_maow("Cloud Ceiling__", "C:\Data\MyData\MAoW_Template_1_0\MAoW Template 1.0\Maps\Forecast data\latestforecast.gdb\Cloud_Ceiling__2012011

[2015-05-08 04:24] jrweakland commented on #269
_From @mfunk on April 22, 2014 21:56_

Assigned this to @dmMartin to review for 10.3/Pro using Python 3.4.

[2015-05-12 07:31] jrweakland commented on #269
@abrowning80 - This issue needs to be resolved this sprint.

[2015-05-12 16:52] dfoll commented on #177
repo is currently using python 9.3

[2015-05-12 16:52] #177 closed

[2015-05-14 18:03] rfeuerstein opened #270 "Outputs for Radial Line of Sight - Multiple Positions in Pro"
Is the tool designed to produce this many outputs?

![image](https://cloud.githubusercontent.com/assets/7117658/7638035/f663ce52-fa26-11e4-8e40-ea3a08f1b3e8.png)

[2015-05-14 18:14] mfunk commented on #270
I think you've got some intermediate data hanging around in there. Don't know exactly what the output is for each input observer, but there is at least one output for each input observer.

[2015-05-21 15:37] mfunk commented on #230
The following tools need tests written:
* CADRG ECRG Tools.pyt
   * [ ] CADRG/ECRG Mosaic Datasets
* CIB Tools.pyt
   * [ ] Create CIB Mosaic
* Elevation Tools.pyt
   * [ ] Create Derived Elevation Mosaic
   * [ ] Crate Source Elevation Mosaic
* LiDAR Elevation Tools_10.3.tbx
   * [ ] Create Source LAS Ground Elevation Mosaic
   * [ ] Create Source LAS Surface Elevation Mosaic

[2015-05-21 15:49] mfunk commented on #260
Done

[2015-05-21 15:49] #260 closed

[2015-05-24 19:34] ihssan opened #272 "Trajectory"
when my Trajectory tools work recive this erro number ERROR 000732

[2015-05-26 13:44] mfunk commented on #272
@jrweakland when you assign issues, would you also label them. Thanks.

[2015-05-26 14:01] mfunk commented on #272
Hello @ihssan
Would you tell us a little more about the issue you've come across? Can you include the tool dialog text along with the error messages? The error message 000732 (http://resources.arcgis.com/en/help/main/10.1/index.html#//00vp00000017000732) relates to a problem with a dataset. Without more information I can only guess that it has to do with the Input Surface. Are you using a raster d

[2015-05-27 07:24] ihssan commented on #272
hello @mfunk
i used dem raster an this images about my erros
![capture](https://cloud.githubusercontent.com/assets/8255414/7830891/fe3bb382-0459-11e5-9053-79315f9dc03c.JPG)
thanks u

[2015-06-10 21:25] dfoll opened #275 "The Hot Spots by Area tool should have more robust checking for names that will trip up the tool"
The Hot Spots by Area model tool creates several outputs... these outputs are created by concatenating a value from a field with "_HotSpots". In the model, this is done in the Calculate Value step of the model. The code block currently checks for a hyphen in the value and replaces it with nothing, then does the appending... we should be more robust to check for things like spaces or  commas
 d=n.r

[2015-06-26 12:09] pshowalter opened #277 "Point of Origin Detection - ArcGIS Pro - Tool Validator function to select Weapons table is modified by the Share as Project Template process."
[#BUG-000088621 When there is a string variable in the tool validator class of a script tool created from a project template, it gets replaced by an esri variable:
g_ESRI_variable_1 = os.path.join(arcpy.env.packageWorkspace,) ]

There is a nice feature in the Desktop version that selects Weapons table automatically for you based on the expected Project.gdb.  This functionality  does not carry thro

[2015-06-29 17:49] pshowalter commented on #277
The status of Esri BUG-000088621 - When there is a string variable in the tool validator class of a script tool created from a project template, it gets replaced by an esri variable:
g_ESRI_variable_1 = os.path.join(arcpy.env.packageWorkspace,) - that you have been associated with has been changed to Closed with a reason of: Will Not Be Addressed.
Public Explanation: Packaging can change data path

[2015-06-30 04:27] jrweakland commented on #277
@pshowalter - Can you please track this down with the dev team?

[2015-07-07 18:59] pshowalter commented on #277
Anyone specific that I should talk to on dev team?

Bug Status is:  Closed: Will Not be Addressed.
Work around is take out some of the validation code, and have user browse to the Weapons table.
http://support.esri.com/en/bugs/nimbus/role/beta10_1/QlVHLTAwMDA4ODYyMQ==

[2015-07-07 19:40] mfunk commented on #277
First person I would talk to would be Drew Flater as he is on GP team and is working on Pro.

[2015-07-07 21:26] pshowalter commented on #219
This is resolved, I moved some code that applied the layer symbol above the point where it is added to the grouped layer.  1.02 and 1.1.
![image](https://cloud.githubusercontent.com/assets/6842145/8557709/251fa9c0-24cd-11e5-9f44-9a6ea63652f5.png)

[2015-07-07 21:26] #219 closed

[2015-07-09 05:16] jrweakland commented on #219
:+1:

[2015-07-09 05:20] jrweakland commented on #277
@pshowalter - maybe talk to @erikreid about this for a workaround. He had the same kind of issue for the Military Aspects of Terrain (MAoT) template.

[2015-07-09 11:55] csmoore commented on #277
Just for everyone's benefit that might not have been on @erikreid 's email. He discovered 2 issues/workaounds when packaging Pro **Project Templates** that use custom scripts:

1. Custom toolboxes (ex. toolboxes with scripts) can’t be the default toolbox in the Pro Project (you will have 1 extra toolbox in the project)
2. Tools that use custom python scripts must check “Import Script”

![protempla

[2015-07-09 14:38] pshowalter commented on #277
@erikreid
Do you have a Pro template for MAoT that I can check out?

[2015-07-09 15:15] jrweakland commented on #277
https://nsec.esri.com/arcgis/home/item.html?id=87f169b7dd324279b2a1bc49ea33706c

[2015-07-09 15:36] pshowalter commented on #277
Perhaps we have an indexing issue?  I did search nsec portal for "maot", and "Military Aspects of Terrain" using "Search All Content" it returned:
https://nsec.esri.com/arcgis/home/item.html?id=bfd513dd62d345bcb07a13aaf3a1e1fc and the tag libraries.

[2015-07-09 18:29] erikreid commented on #187
Already fixed. closed out.

[2015-07-09 18:29] #187 closed

[2015-07-10 07:13] jrweakland commented on #187
@erikreid - can you provide a screen capture of the results from running the fixed tool?

[2015-07-10 22:05] erikreid commented on #187
![hasty hlz results](https://cloud.githubusercontent.com/assets/8561343/8629927/0edfee32-2715-11e5-8b97-bc7120a3ce23.png)

[2015-07-11 03:56] jrweakland commented on #187
@erikreid - looks good from this view. Have you done a visual swipe analysis to ensure the results are legit?

[2015-07-15 11:32] ScottCecilio opened #278 "Change Sample Data Dates to Recent Dates throws syntax error"
When trying to update dates of Incidents via Pro 1.1 Build 1.1.3308. I received the following error:

![image](https://cloud.githubusercontent.com/assets/6999909/8697508/74f3e596-2ac3-11e5-80d0-ae8356a28759.png)

[2015-07-15 14:26] jfrygeo opened #279 "Military Aspects of Weather Version 1 - Operational Thresholds table incorrect parameter for CCM"
The suitable value for "Visibility" in the operation type  "Cross Country Manoeuvres" is incorrectly specified as "-2". The value should be changed to "0" in the "OperationalThresholds" table in the "MAOW.gdb" geodatabase.

Operational Activity	      Weather Variable Threshold From Value	Threshold To Value	Units	 Operational Impact
<i>NO</i>
cross country manoeuvres	 Visibility

[2015-07-15 14:35] jfrygeo opened #280 "Military Aspects of Weather Version 1 - Schema for Text fields in METAR feature classes should be expanded to 1000 characters"
Due to some reports METAR reports for the  "Weather", "Sky Condition" and "Remarks" fields larger than 255 characters, I found that expanding to 1000 doesn't throw errors in the scripts. The feature class that are affected:

METAR\LiveData\Metar.gdb\CurrentMetar
METAR\Work\Metar.gdb\CurrentMetar
Maow.gdb\CurrentConditions

[2015-07-29 14:41] mfunk commented on #249
@dfoll still waiting for detailed steps to reproduce the error and a copy of the message you are seeing.

[2015-07-29 14:43] mfunk commented on #245
@jfrygeo Got the *Sub_Specs* table so I can add it in?

[2015-07-29 15:01] jfrygeo commented on #245
Sent to @mfunk via email.

[2015-07-29 15:22] mfunk opened #282 "test_poo_tools fails PointOfOriginSiteDetection"
@pshowalter
I couldn't get #281 tested in a local branch so I merged it to test. Unfortunately the **PointOfOriginSiteDetection** is failing in *test_poo_tools*.

1.) cd capability\test
2.) ant test_poo_tools

[code]

Not sure if this is a change in the tool that is not reflected in the test, if the tool is failing, or if it's the test that is failing.

[2015-07-29 15:29] mfunk commented on #282
Going further into this i'm also seeing a NEW toolbox in the repo **PointOfOriginDetection.tbx**....

![image](https://cloud.githubusercontent.com/assets/3093182/8961742/dc5cec1a-35cb-11e5-93e6-b7dedf45bffc.png)

Going to have to revert #281 until this is fixed also.

[2015-07-29 17:34] mfunk commented on #261
@pshowalter is this related to pull #281?

[2015-07-29 18:33] pshowalter commented on #261
@mfunk I will have to investigate and get understanding on how the test scripting runs.

[2015-07-29 20:39] pshowalter commented on #261
If I understand what the test_poo script/tool is doing:
These are the old weapon types that we did not have documentation for:

test_poo_tools:
     [exec] inputWeaponsAsString: '82mm Soviet Mortar';'88mm American Mortar';'120mm American Mortar'
     [exec] inputWeaponsAsList: ["'82mm Soviet Mortar'", "'88mm American Mortar'", "'120mm American Mortar'"]

…

Later we see references to the new weapo

[2015-07-30 16:09] jfrygeo commented on #280
Added feature class with schema changes in METAR.gdb in recent pull request.

[2015-07-30 16:09] #280 closed

[2015-07-30 16:11] jfrygeo commented on #279
Fixed operational threshold information in "operationalThresholds" table in Military Aspects of Weather.gdb sample data.

[2015-07-30 16:11] #279 closed

[2015-07-30 17:20] mfunk commented on #278
@ScottCecilio can you get the latest changes from the **dev** branch and see if it still throws the error. I think I fixed this along with adding automated tests for the tool.

[2015-07-30 17:27] mfunk commented on #77
Test added, but would like someone else to verify the test works.

1. GitHub for Windows >> open in Git Shell

Get latest changes from **dev**:
2. ```git fetch <remote> ```
3. ```git merge <remote>/dev```

Run the test:
4. ```cd data_management\test```
5. ```ant test_adjust_sample_dates```

[2015-07-30 17:50] mfunk commented on #272
@ihssan
From the dialog picture above it seems you are trying to save **test2** to a folder **D:\test_tools**, but the dataset is missing a *.SHP* extension. Normally the tool's dialog should add this for you. I do not know why it would not.

[2015-07-30 18:27] mfunk commented on #275
So the tool is giving you something like:
1_HotSpots
2_HotSpots
3_HotSpots
4_HotSpots

So you want to also have it look at removing spaces and commas. Anything else?

[2015-07-30 18:33] mfunk commented on #275
Currently the code in **Calculate Value** is as follows:
[code]

[2015-07-30 19:53] mfunk commented on #275
@dfoll I updated **Hot Spot by Area** in both the 10.3 and Pro toolboxes with the above code. I need you to get the latest from **dev** and test it out and see if it is acceptable.

[2015-07-31 17:47] mfunk commented on #81
Fixed this in Pull #289. Would like someone to test this and verify it's working.

[2015-07-31 21:56] mfunk opened #290 "Need scrubbed data for Visitation By Day Period in Movement Analysis Tools"
@conklinbd Here it is. I can't get to the original layer package, something seems to be messed up with it. When I last checked I needed to have a dataset that was scrubbed of non-public data.This portal item was last updated before FedGC, so if there is newer data I would like to get it to build the test for this tool. Thanks.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/

[2015-08-03 14:50] jrweakland commented on #282
@pshowalter

[2015-08-03 15:10] pshowalter commented on #261
Modified test script to point to new weapon names.
Had previously sent:
\capability\toolboxes\tooldata\PointOfOrigin.gdb\Weapons.

Last week, sent new file GDB with new impact points (Monterrey area)
\capability\data\geodatabases\test_poo_tools.gdb\impact_pts_monterey_UTM10N.

Test script runs properly on my local machine/repo.

[2015-08-03 15:10] #261 closed

[2015-08-11 16:17] ScottCecilio commented on #278
This is now functioning as expected.  Thanks.

[2015-08-11 16:17] #278 closed

[2015-08-11 21:38] mfunk opened #291 "test_fv_by_circle is getting an error"
test_fv_by_circle is testing **Fast Visibility By Circle** in the *Publishable Task Tools_10.3.tbx*.

The problem might be some changes in **Visibility** in Spatial Analyst. The input is in Geographic coordinates, uses "1" as the Z factor and uses the earth curvature option. However this fails in the test.

[code]

[2015-08-11 22:26] mfunk opened #292 "Is failonerror="true" a good option for complete testing?"
Currently the build.xml test files all set *failonerror="true"*, which causes ANT to stop once the first test fails. It does NOT continue with subsequent tests. I'd like to switch this to *failonerror="false"*, which will show the errors posted by the test and then continue on with the next test.

For the best case we might want to write out an error log to note what test failed and what the error

[2015-08-12 14:45] mfunk opened #293 "Add error logging capability during testing"
Rather than stop the test at the first failure the test should log the error and continue. This will require a  logging to a central location (single file, database, etc.) from any number of tests run, at any level. It should capture which test failed, when it failed (date/time stamp), and what the error was.

[2015-08-12 15:00] csmoore commented on #293
Sounds like we should probably:

1. Switch the output to use the python logger: https://docs.python.org/2/library/logging.html
2. Change the custom python test scripts to not return an exit code (or we could also switch these to use pyunit - but would be more work)

[2015-08-12 17:51] mfunk opened #294 "HLZ Touchdown Points is missing Input Airframe Specification Table"
**HLZ Touchdown Points** in the *Helicopter Landing Zone Tools_10.3.tbx*  is missing Input Airframe Specification Table.
If you open the tool now you see the following error.

![image](https://cloud.githubusercontent.com/assets/3093182/9231827/361d6fea-40df-11e5-91aa-09451008713b.png)

The *capability* toolbox folder has tooldata, but there is not geodatabase for HLZ Tools, where I would expect th

[2015-08-12 22:37] JudTown17 opened #295 "Test Canvas GRG Area fails if it is not run in ArcGIS Pro or ArcMap."
[code]

[2015-08-13 15:33] csmoore commented on #292
I think this was done so if we used a automated build/test server like Jenkins, Jenkins would be notified of the failure - things might still work though, we would just need to test

[2015-08-14 16:49] mfunk commented on #34
Just an update on this one. I've added test for **Rejoin Track Parts** and **Import Patrol Report**. I renamed *Import Patrol Rpt* to *Import Patrol Report*, in the process. But currently i'm having issues getting the test to work. Unfortunately the tool is failing with an *Invalid field type* error that is proving difficult to locate.

[code]

If you use the same inputs in a model, or directly in

[2015-08-14 18:43] pshowalter commented on #34
I have seen scripts that run fine on laptop using Python 32, wont run on a server, that defaults to Python 64.  In this case it was differing of the handling of path to a FC.

[2015-08-18 15:04] ScottCecilio opened #296 "NumberFeatures.py throwing syntax error"
Downloaded a fresh copy from both master version and dev and received the following error.

![image](https://cloud.githubusercontent.com/assets/6999909/9333584/8d6dde5c-4598-11e5-86dc-c008c9f414e8.png)

[2015-08-18 16:39] pshowalter commented on #296
Are you using Pro 1.1?
If yes, there are 2 places to change:

if gisVersion == "1.0": #Pro: to

if gisVersion == "1.1": #Pro:

[2015-08-18 17:04] ScottCecilio commented on #296
@jrweakland and @pshowalter I am using 1.1.  I asked @garys-esri to look at this for me and he provided me the following code, https://raw.githubusercontent.com/garys-esri/solutions-geoprocessing-toolbox/master/operational_graphics/toolboxes/scripts/NumberFeatures.py,  so far this seems to make it functional again.

[2015-08-18 17:09] garys-esri commented on #296
I submitted #297 to fix this.

[2015-08-18 20:16] mfunk commented on #34
Thanks @pshowalter but it was something in the model tool that was being tested. I converted it to a script and got it working as it should have been.

To this point the tests are made and running.

[2015-08-18 20:16] #34 closed

[2015-08-18 20:32] mfunk commented on #229
Could not reproduce error:

[code]

[2015-08-18 20:32] #229 closed

[2015-08-18 20:44] mfunk commented on #100
This toolbox is going to be deprecated in favor of the newer MDCS-based tools.

[2015-08-18 20:44] #100 closed

[2015-08-19 00:02] JudTown17 commented on #295
Similar errors occur after running TestNumberFeatures.py and TestPointTargetGRG.py.

Test Number Features:
[code]

Test Point Target GRG:
[code]

[2015-08-19 04:34] jrweakland commented on #296
:+1:

[2015-08-19 13:17] garys-esri commented on #296
#297 was merged. I believe it fixes this issue, but if @ScottCecilio or someone else could verify and close this issue, that would be better than me closing it myself.

[2015-08-19 15:03] mfunk commented on #295
OK so I checked it out and the stuff I'm looking for is in the *capability* folder, in the **PointOfOrigin.py** file. There's a lot of tool-specific code but the control we want to try to use to change behavior between ArcMap, ArcGIS Pro, and everything else are around lines 252 through 466.

But to boil it down to the basics:

[code]

Now Gary S just did a little bit of code in **NumberFeatures.p

[2015-08-19 15:47] mfunk opened #299 "Handling ArcMap vs. ArcGIS Pro vs. other stuff"
Moved conversation from #297

[2015-08-19 15:56] mfunk commented on #299
So I'm trying to figure out a good starting point to determine what the best sequence is for figuring out if a tool is running in ArcMap, ArcGIS Pro, or something else (say ArcCatalog/Globe/Scene).

Looking at combing the stuff @garys-esri did and @pshowalter worked on I've come up with this snippet that might work.
[code]

If I run this in ArcCatalog 10.3.1:
[code]

If I run this in ArcMap 10.3.1

[2015-08-19 16:19] csmoore commented on #299
Do you really care what product that the script is running in (does script need to know? possibly/probably not) or just that the script works in each of those environments (more of a testing issue).

So are you saying you need to know the ArcGIS product/version & Python/version or that the scripts should be written (and tested) so they are robust with respect to:

1. Python 2 or 3
    1. Guard ver

[2015-08-19 17:23] mfunk opened #301 "test_create_source_elevation is showing error trapped by MDCS"
*test_create_source_elevation* is testing the **Create Source Elevation Mosaic** tools in the *Elevation Tools.pyt*. This toolbox has a dependency on the [https://github.com/Esri/mdcs-py](https://github.com/Esri/mdcs-py) repo.

When running the above test the tool is trapping errors that I assume are from the configuation of MDCS-py in this repo:

[code]

The error mentions a path:
**C:\Users\some

[2015-08-19 20:51] mfunk commented on #299
For our purposes we need to know if it's ArcMap, or ArcGIS Pro, or something else. Because adding layers to a MXD is different than adding it to a project, and can't be done at all in, say, ArcCatalog ... or in these test we are writing. Make sense?

Mike Miller made a suggestion that it might work better in it's own separate module, where an **ImportError** wouldn't be affected by subsequent erro

[2015-08-19 21:02] pshowalter commented on #299
I am sure this could be cleaner.
For the record, PointOfOrigin.py has a guard in a section of the code shared by Desktop and Pro, which is a Python 2 / Python 3 issue related to cursors.

[code]

[2015-08-19 22:58] #296 closed

[2015-08-20 12:57] csmoore commented on #299
@pshowalter for something like iterating through a cursor, you could also try to find a pattern that works in both environments ex: `for feature in cursor : ` (if possible & the legacy code isn't too complex/arcane)

I *think* `next(cursor)` should also work in Python 2, but at Python 3 it now throws a "StopIteration" exception when at the end (which would need handled in the Python 2/3 code)

[2015-08-26 17:34] mfunk commented on #299
So I've been using the **GetApplication()** method to fix a few scripts now and it looks like it's working really well (so far) and is doing a good job of distinguishing between ArcMap, ArcGIS Pro and 'everything else'. Going to close this one out.

[2015-08-26 17:34] #299 closed

[2015-08-26 18:33] csmoore commented on #299
Do you have an example of the final working code in this repo (I couldn't find doing using the github search, but it may not be searching all the branches)?

If you used the method/version from @MikeMillerGIS above, the only improvement I would suggest, for performance reasons, is to add a check so it needs to do this check only once, otherwise there will be a performance penalty in environments w

[2015-08-27 16:23] mfunk commented on #249
No response, closing.

[2015-08-27 16:23] #249 closed

[2015-08-27 16:28] mfunk commented on #60
This was fixed many months ago when we were updating to ArcGIS Pro.

[2015-08-27 16:28] #60 closed

[2015-08-27 16:29] mfunk commented on #77
No takers? Going to close this one for now.

[2015-08-27 16:29] #77 closed

[2015-08-27 16:30] mfunk commented on #81
Nobody to test this one separately. Closing this for now.

[2015-08-27 16:30] #81 closed

[2015-08-27 16:32] mfunk commented on #78
@JudTown17 wrote the test for this. I'm working on some app switch stuff in each of the three tools and will submit updates soon. Closing because the tests are posted now.

[2015-08-27 16:32] #78 closed

[2015-08-27 16:34] mfunk commented on #114
I've been working on this tool and I'm unable to reproduce the same error. Have run the tool in ArcMap, ArcGIS Pro, and non-mapping (automated tests). Closing.

[2015-08-27 16:34] #114 closed

[2015-08-27 17:41] mfunk opened #304 "HELP! Need ideas for adding features to ArcGIS Pro with ArcPy"
So the problem is that I can't figure out a good way to use **arcpy.mp**  (for ArcGIS Pro) to a map. The API is different than that of ArcMap so the methods are not transferrable. Currently I have been testing the following snippet:

[code]

Unfortunately this fails with:

[code]
I can't find any useful documentation on ArcPy or arcpy.mp that tells how to add a *feature* or *featureclass* to a map

[2015-08-27 19:29] pshowalter commented on #304
*>>So i'm looking for suggestions or ideas.*

I think you have most of the stuff that was used in PointofOrigin.py, which relies of .lyrx files existing in known location.  The approach take by the developer was to add "empty" Group Layer then add Layer(s) to the Group Layer, and change the name of the Group Layer.

New to me was the use of result object.
[code]
If you don't want to use a Group La

[2015-08-27 21:59] mfunk commented on #304
WHOO HOO!!! @pshowalter, you got me headed in the right direction. Instead of passing the layer name string 'targetLayerName', I used the results in *.addLayer* and it is working (so far)

[code]

[2015-08-27 21:59] #304 closed

[2015-08-27 22:16] mfunk commented on #295
Fixed in #305

[2015-08-27 22:16] #295 closed

[2015-08-27 22:37] mfunk commented on #282
Tested and verified as fixed.

[2015-08-27 22:37] #282 closed

[2015-08-28 17:07] mfunk commented on #237
So there are a few issues going on here and not just one. First the input elevation imagery is gone and has been replaced with another. So I swapped out the value for the new one, and also converted it into a local raster dataset to be sure.

Next I started seeing the following errors showing up with the **ImportToolbox**:

[code]

This is a separate issue and has to do with one of the other tools

[2015-08-28 17:24] mfunk opened #306 "test_maot is throwing a warning with ImportToolbox"
In each of the two tests (test_range_fan, test_local_peaks) give the following message with **ImportToolbox**:

[code]

The line in the test code (using test_local_peaks) is:
```arcpy.ImportToolbox(TestUtilities.toolbox, "MAoT")```

The message isn't causing the tests or tools to fail, but it is annoying and should be taken care of. The only other tools in the toolbox that use a *vehicle table* ar

[2015-08-28 17:26] mfunk commented on #237
Logged #306 for the toolbox error. Closing this one.

[2015-08-28 17:26] #237 closed

[2015-08-28 17:30] #294 closed

[2015-08-28 18:46] mfunk commented on #306
Nailed it.

In the tool validation for **FM 5-33 CCM** and **Raster Off-road Mobility** I added some logic for handling the path to the tooldata. First I added a method for finding the tooldata geodatabase:

[code]

And then I added the method to the validation code...

[code]

This seems to work for this round. Will have to work with @jrweakland and see how it works in Pro.

[2015-08-28 19:02] mfunk commented on #277
@pshowalter In your initial description of the problem:

*When there is a string variable in the tool validator class of a script tool created from a project template, it gets replaced by an esri variable:
g_ESRI_variable_1 = os.path.join(arcpy.env.packageWorkspace,)*

... you say *a string variable* do you mean  ANY string variable, a specific string variable, a random string variable, or somethi

[2015-08-28 21:02] pshowalter commented on #277
The Share as Project Template process would detect a GDB location in the validation code and inserts a variable in the result that pointed to a GDB in user profile, that did not exist.
The following did not work.  The Sharing process would replace"
[code]
with
[code]
And this points to C:\Users\<username>\AppData\Roaming\Esri folder.  So the snippet below with tbxPath and defaultGDBPath would not

[2015-08-31 18:01] mfunk commented on #293
Judson's work on the pilot project for *logging* and *unittest* are included in #308.

[2015-09-01 15:39] mfunk commented on #230
So as of now the tests are written for these tools, however we are having difficulty getting test data that we can release (using local, non-releaseable stuff to build tests for now). This may stop us from having any tests available for these tools that are connected to the overall test suite.

[2015-09-09 15:10] csmoore commented on #292
I think this can be closed now as a result of the test refactor work that @JudTown17 is doing - so just wanted to check.

[2015-09-09 18:51] #245 closed

[2015-09-09 22:14] mfunk opened #309 "Radial Line Of Sight - Multiple Positions error in Pro"
Tried running **Radial Line Of Sight - Multiple Positions** tool using the test data from V&R tools:
1. Set the following inputs:
    Input Feature: _C:\Users\matt2542\Documents\GitHub\solutions-geoprocessing-toolbox\visibility\data\geodatabases\test_vis_and_range_inputs.gdb\RlosObserverWebMerc_
    Defensive Position Description Field: _OBJECTID_
    Defensive Position Height Field: _Observer off

[2015-09-10 17:33] mfunk commented on #270
So I'm thinking this may be something that is resolved in the 'dev' branch vs. the 2.0.0 release. Currently the results in Pro 1.2 look like this:

![image](https://cloud.githubusercontent.com/assets/3093182/9795736/3c69dd46-57a7-11e5-988b-bbc2c6a43994.png)

[2015-09-10 17:33] #270 closed

[2015-09-10 18:18] #292 closed

[2015-09-14 13:35] abrowning80 commented on #269
@jrweakland is this issue now closed?

[2015-09-16 14:42] mfunk commented on #45
@jrweakland @nfeuerstein I was going to add this one to the backlog for a future sprint. But I'm not seeing a GO/NO GO on this one. If GO, I'll add it to the GP Repo Maintenance backlog. If NO GO I'll close. Thanks.

[2015-09-16 14:47] mfunk commented on #104
@jrweakland @nfeuerstein A long time in coming, but i'm going to rename this task to remove range fan tools from the range cards toolbox and add to Asana. The task will have additional subtasks to add documentation to use the Visibility and Range template to build range fans.

[2015-09-16 14:52] mfunk commented on #136
@dfoll @nfeuerstein Since it's been a few months I'm going to close this issue. If it's still a problem, please log a new issue.

[2015-09-16 14:52] #136 closed

[2015-09-16 14:59] mfunk commented on #117
@jrweakland Hey JRW any idea where Erik left this one? You still have something in your backlog?

[2015-09-16 15:01] mfunk commented on #189
This one has been hanging for a few months and is supposed to be fixed. Closing this until it cannot be verified as fixed.

[2015-09-16 15:01] #189 closed

[2015-09-16 15:12] mfunk commented on #230
Talked with Clark about getting test data that we can release. He said he will have to check with his contacts about what we can do.

[2015-09-16 15:24] mfunk commented on #269
@jrweakland you guys have a backlog task for this one?

[2015-09-16 15:25] mfunk commented on #272
@ihssan Hi, can you check this one out and verify if it is a missing *.shp* on the end of the output? Thanks.

[2015-09-16 15:35] mfunk commented on #290
@conklinbd Adding this one to our backlog.

[2015-09-17 14:06] mfunk commented on #301
Got an update from @abhiataero and re-ran the test successfully.

[code]
Thanks Abhijit!!
Update will be installed today.

[2015-09-17 14:07] #301 closed

[2015-09-17 20:16] #255 closed

[2015-09-21 17:24] mfunk opened #313 "Remove old toolboxes from repository"
Need to remove the following Data Management toolboxes that have had a deprecation notice since v2.0.0:
* [x] Build Elevation Mosaic Tools.tbx
* [x] Build Elevation Mosaic Tools_10.3.tbx
* [x] Imagery Basemap Tools.tbx
* [x] Imagery Basemap Tools_10.3.tbx
* [x] Scanned Map Basemap Tools.tbx
* [x] Scanned Map Basemap Tools_10.3.tbx
* [x] Topographic Basemap Tools.tbx
* [x] Topographic Basemap Tools

[2015-09-23 15:21] #313 closed

[2015-09-23 15:23] #272 closed

[2015-09-23 15:24] mfunk commented on #45
@jrweakland @nfeuerstein Closing as NO GO.

[2015-09-23 15:24] #45 closed

[2015-09-23 18:34] #104 closed

[2015-09-24 17:33] mfunk commented on #209
Testing this one out in ArcGIS Desktop 10.3.1 and ArcGIS Pro 1.2.

1. Created table in folder: *.\Test_SGT_Issue_309\test_issue_309.gdb\test_issue_309.gdb*
2. Open HLZ Touchdown Points in ArcMap.
3. point to double-named folder/gdb and it fails.

![image](https://cloud.githubusercontent.com/assets/3093182/10080808/944f7778-62a6-11e5-92ef-97d60d92ad07.png)

4. Created second table: *.\Test_SGT_Issu

[2015-09-24 17:33] #209 closed

[2015-09-28 21:38] jrweakland commented on #269
@abrowning80 - please test at ArcMap 10.2.2 and 10.3. If fixed, please close this issue.

[2015-09-29 15:11] abrowning80 commented on #269
@jrweakland - have tested on both 10.3 and 10.2 and it all works fine and does not error so will close issue.

[2015-09-29 15:12] #269 closed

[2015-09-30 15:31] mfunk opened #318 "Need better opening description in README.MD"
Currently we say:

*The ArcGIS Solutions Geoprocessing Toolbox is a set of models, scripts, and tools for use in ArcGIS Desktop. These tools provide specialized processing, workflows, and analysis for defense, intelligence, emergency management, and other solutions domains.*

Which is still kinda vague. I would like to see something more detailed, and concentrate more on the value user will get ou

[2015-09-30 15:35] mfunk opened #319 "Need to add links to templates in the Solutions Pages"
For each of the toolboxes that is used in a template there should be a link to the template in the Esri Solution pages. Currently we link *some* of the templates to their AGOL templates. But these links can change as the old templates are dropped for newer versions and the links are broken.

[2015-10-01 11:38] csmoore opened #320 "Update MAoW (Military Aspects of Weather) Version 2.0 of Toolbox"
Just a task to get the latest/current version of the MAoW added/updated in this repo.

Discussion started here:
https://github.com/ArcGIS/mil-intel-desktop-solutions-templates/issues/139#issuecomment-144465567

[2015-10-01 14:05] mfunk commented on #320
@abrowning80 Can you send me a copy (or a link) of the newest versions of the tools? I've also got stuff to add for the CRU climatic data, that never made it into the earlier toolbox.

[2015-10-01 17:51] dfoll commented on #275
verified

[2015-10-01 17:51] #275 closed

[2015-10-01 20:40] dfoll opened #321 "Restrict Count Incidents by LOC operational area"
Count Incidents by LOC from the Incident Analysis tool box uses road data and counts how many incidents occured along a particular stretch of road. One step early in the model is that is copies the roads features. From what i can tell, when it does the copy, there is no restriction to what roads it copies... not a concern if you have specifically clipped out just the roads in your aoi, however wha

[2015-10-07 14:22] BobBooth commented on #306
@mfunk - I'm not sure that the "p1" is always the same - I have a project that I packaged and it has "p11" in the path.

[2015-10-07 15:14] csmoore commented on #306
Sounds like it might perhaps be version (1.0 vs. 1.1) dependent (and yet another thing you would have to suss out...I miss mxds...)

[2015-10-07 15:41] mfunk commented on #306
love my job

[2015-10-08 23:52] dfoll opened #322 "Incident Analysis - Count Incidents by LOC output should never be blank"
The Count Incidents by LOC tool in the Incident Analysis toolbox produces a line feature class output..If the frequency count is 0, you get a value of null.. Two related thoughts on this... If the value is 0, I think we should show 0 instead of null...follow on to that, if the value is 0, it is not going to display at all on the map... should we drop rows with a frequency count from the table? Per

[2015-10-09 00:01] dfoll opened #323 "Bad Variable in Hot Spots by Area tool"
The Hot Spots by Area model uses the Optimized Hot Spot Analysis tool.  The output of the Optimized Hot Spot Analysis tool uses the variable %workspace% ... it is my understanding this is not a good idea and we should update this so that the tool explicitly knows to use a .gdb for this.

![image](https://cloud.githubusercontent.com/assets/5322669/10383017/beb4f590-6dde-11e5-9466-babc105810a1.png)

[2015-10-09 00:02] dfoll commented on #323
@mfunk if you would like more to this description, let's talk about this and review while it is still fresh in our minds

[2015-10-13 18:24] mfunk commented on #323
The problem was that the %workspace% variable didn't exist. It should have been a named variable or %scratchGDB%.

[2015-10-14 22:03] mfunk opened #326 "HLZ Touchdown Points doc missing slope type"
Help for **HLZ Touchdown Points** tool in the *Helicopter Landing Zone Tools* in the *capability* folder needs clarification. Slope can come in two different types: percent or degrees. The tool doesn't seem to make a distinction between the two, so a user could make an argument that it should work with either. However if you look at the included *Aircraft_Specifications* the field *Ground_Slope_Ma

[2015-10-15 14:55] mfunk opened #327 "Update the ERG tools for the 2016 version of the guidebook"
@jeffbaranyi

After checking out some recent comments on the ERG tools (under _capability_) I noticed that there is a 2016 version of the Emergency Response Guidebook (the "ERG" where the tools get their name).

[http://www.phmsa.dot.gov/pv_obj_cache/pv_obj_id_CDF7F93A3E0C2F808D9EA09C262749DAEF400200/filename/ERG2016_Preview.pdf](http://www.phmsa.dot.gov/pv_obj_cache/pv_obj_id_CDF7F93A3E0C2F808D9E

[2015-10-15 14:59] mfunk commented on #327
Actually the 2016 version of the book hasn't been released YET. But it it supposed to be in early 2016. So we might not get a definite answer for a few months. Hold tight.

[2015-10-15 20:54] mfunk opened #328 "Incident Analysis - Find Percent Change tool has no output parameter"
**Find Percent Change** in *Incident Analysis* has no output parameter. User has no way of saving results to their own geodatabase, or defining an output name. As it is now, the tool will always overwrite the same output features each time it is run.

![image](https://cloud.githubusercontent.com/assets/3093182/10526951/b6bc2cbe-7342-11e5-932a-6d77e743bca8.png)

This should be an easy change in the

[2015-10-15 20:59] mfunk commented on #328
Don't forget to reapply the *PercentChange.lyr* to the new output parameter.

[2015-10-15 21:43] mfunk opened #329 "Incident Density has no output parameter"
**Incident Density** in *Incident Analysis* has no output parameter. User cannot specify where the output features will be created, and cannot specify what the output features will be named. This should be pretty easy, just making the *Output Features (Incident Hot Spots)* a model parameter (P), and giving it a default value of "%scratchGDB%/DensityHotSpots".

![image](https://cloud.githubusercont

[2015-10-16 15:16] mfunk opened #330 "Consider an MD on geoprocessing tool standards for the repo"
Consider an MD on geoprocessing tool standards.
Based on the Esri tool testing standards.
* Tool, toolset, toolbox naming conventions
* Creating and using parameters for a tool
* Tool doc standards
* When to use models or Python scripts, and when to use PYTs vs. TBX
* Links to python coding standards (pylint, etc.)
* Desktop vs. Pro, Python 2.7 vs. 3.4

[2015-10-21 20:49] mfunk opened #332 "FindLocalPeaksTestCase.py in wrong folder"
@JudTown17
Just caught this after the last pull request. But the *FindLocalPeaksTestCase.py* is in the *test_sun_position* folder. It should be in the *test_viz_and_range* folder, with the other tool tests for Visibility and Range. Could you move this one over in the next pull?

[2015-10-21 20:51] mfunk commented on #332
Guess you will also need to update **TestRunner.py** *main()* with import from a different folder in *visibility/test*.

[2015-10-22 21:53] pshowalter opened #334 "TestPointOfOrigin.py - How do you pass Boolean in test tool to reflect a Check Box in the Script tool?"
@mfunk I would like to modify TestPointOfOrigin.py to reflect the addition of a Checkbox in Script Tool that allows user to specify desire for "True Curves" or they can take the default of densified polygons.  At present the TestPointOfOrigin.py will work to completion w/o error, and uses the default without modifying the code to pass the Boolean, but would be nice to have it pass the parameter, a

[2015-10-22 22:32] mfunk opened #335 "Error importing the Visibility and Range toolbox"
When you try to import the **Visibility and Range Tools_10.3.tbx** you get a syntax error from some internal script.

1) Open Python prompt in ArcCatalog/ArcMap/etc.
2) *arcpy.ImportToolbox(<path to >\"Visibility and Range Tools_10.3.tbx',"VandR")*

'''

Runtime error
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "c:\program files (x86)\arcgis\desktop10.3\arcpy\a

[2015-10-26 21:18] mfunk opened #338 "Point Of Origin Site Detection options differ between Desktop and Pro"
The **Point Of Origin Site Detection** tool in the _10.3 (Desktop) toolbox has an option *Use True Curves* that is missing in the Pro version.

The picture below shows the differences....

![image](https://cloud.githubusercontent.com/assets/3093182/10742753/01474e42-7bec-11e5-8efb-6f27da20c88a.png)

The option needs to be added to the Pro version of the tool. The option is in the source *PointOfOr

[2015-10-26 21:24] mfunk commented on #334
@pshowalter
Not sure we want to start messing with the ANT test files now since we are moving to Python unittests. However it should be passed as a Python True/False variable.
[code]

In the meantime I found an inconsistency between the Desktop and Pro tools that needs to be addressed in #338.

I'm also seeing that the *Use True Curves* option doesn't have a help description for the parameter.

[2015-10-26 23:02] pshowalter commented on #338
I have a working Check Box in the Pro project that I have been using for Share as Project Template.  It lives in a Toolbox that does not have spaces in the name; I made an attempt to reconfigure the Pro project in same style as the repo folders and names, and it did not go  well during the share and restore process, things were broken upon restore.  Perhaps newer release will be compatible.

[cid:

[2015-11-02 14:55] pshowalter commented on #338
Have addressed these in recent pull:
https://github.com/Esri/solutions-geoprocessing-toolbox/pull/341

[2015-11-06 17:01] mfunk opened #342 "test_Choose_Field_Value_Script_Tool_Pro fails with "Tool or environment not found""
Running the new unittest for **ChooseFieldValueScriptTool** in Python 3.4 is failing because tool cannot be found:

[code]

The tool script works in ArcGIS for Desktop (test_Choose_Field_Value_Script_Tool_Desktop) works just fine. Tool can be run in ArcGIS Pro, but not in Python 3.4

[2015-11-09 21:18] pshowalter commented on #334
@jrweakland  - Did you want me to work issue of passing Boolean into test tool issue, perhaps create a "unittest"?  Or was this in reference to the "Use True Curves" missing description (#338) mentioned directly above this?
It sounded like working on the existing test scripts was not desired, as they are being updated to python unittests.  The missing Description issue was fixed, and pull submitte

[2015-11-10 17:34] jrweakland commented on #334
@pshowalter - you will need to cordinate with @mfunk when it comes to testing.

[2015-11-11 18:30] mfunk opened #343 "Error testing LookUpERG in ERG.py"
@dmMartin (just an FYI ...)
This is an issue with unittesting only, and the tool itself seems to be working with the same inputs.
In building a unittest framework we are trying to independently test components of the **ERG Tools.pyt**, including the source script ERG.py. In three of the cases we are testing the table lookup in the *LookUpERG* module, by passing it values and checking the results a

[2015-11-11 19:47] mfunk commented on #343
EBCAK on this one. Can't read my own errors. Closing...

[2015-11-11 19:47] #343 closed

[2015-11-13 16:51] mfunk commented on #332
@JudTown17 fixed this one and it's working.

[2015-11-13 16:51] #332 closed

[2015-11-13 16:59] mfunk commented on #335
Fixed this one in building *HLZTouchdownPointsTestCase.py*. The toolbox was corrupted and the paths to the script tools were broken. Had to manually rebuild the TBX and copy the doc/properties over.

[2015-11-13 16:59] #335 closed

[2015-11-13 17:01] mfunk commented on #293
Status update as the unittest building progresses we've got this one working, where *TestRunner.py* calls a named logger (setting a unique log file) from *UnitTestUtilities.py* and puts it into *.\solutions-geoprocessing-toolbox\utils\test\log*.

[2015-11-13 17:01] #293 closed

[2015-11-13 18:06] mfunk commented on #342
This was related to a bad **Helicopter Landing Zone Tools.tbx** that got corrupted somehow and had a bad path to the tool. was fixed now and test are running fine.

[2015-11-13 18:06] #342 closed

[2015-11-13 18:12] mfunk commented on #338
Need to verify fix.

[2015-11-13 18:36] mfunk commented on #142
Adjusted script to include SetParameter, passing the workspace back out as an Output Workspace (since we can't pass a domain as an object). Needed to change the name of the input "Output Workspace" variable to "Target Workspace".

![image](https://cloud.githubusercontent.com/assets/3093182/11154068/e9bd503c-89f1-11e5-947f-01b608cfb4ea.png)

@nfeuerstein can you verify this is fixed?

[2015-11-19 06:09] jrweakland opened #345 "Create Additional Labels for Templates"
Should we create additional labels for the templates that contain the tools?

Example: The LLOS tools are in the Visibility and Range template.

This will assist with assigning issues and monitoring progress.

@lfunkhouser @conklinbd @nfeuerstein

[2015-11-19 06:25] jrweakland commented on #330
:+1:  - This is an issue that should be discussed during our engineer group meeting. @lfunkhouser

[2015-11-19 06:59] jrweakland opened #346 "Create Labels for ArcMap and ArcGIS Pro"
We need to create labels for the different versions of ArcMap and ArcGIS Pro. This will help focus our efforts on which versions of the tools need attention. @lfunkhouser @conklinbd @nfeuerstein

[2015-11-19 18:56] mfunk commented on #345
OK. Good idea. But how would we label tools that are not associated with a template, e.g. many of the data management tools? Just skip the label?

I'm feeling a bit mixed about importing the existing label set from the template repo. First I'm not sure why "N" is the template prefix. Second, there are a LOT of templates that don't have GP tools and would just be extra crap in the mix. So would you

[2015-11-19 19:01] mfunk commented on #346
So here I'm not really up to the idea of including a label for the version number, e.g. 10.2, 10.3, 1.0, 1.1. That list could very easily grow without bounds.

But I would be OK with having the app, for example:
* ArcGIS Pro
* ArcMap
* Services (for geoprocessing services)

[2015-11-19 20:00] conklinbd commented on #345
I agree that you should only add the labels for templates with GP tools.
I would like to maintain consistency on the naming convention (N-). I don't know where N came from but it helps us with Waffle or other tools for managing issues accross repositories.

[2015-11-19 22:39] mfunk commented on #345
Could we copy the labels over (don't remember what the tool is called) and just remove the 'unused' labels from the list?

@jrweakland any chance you want to do the copy and I'll do the cleanup? :smirk:

[2015-11-20 21:12] jrweakland commented on #345
@mfunk - sounds good to me. I will let you know when I need you to review!

[2015-11-22 05:01] jrweakland commented on #345
@mfunk - ready for your review.

[2015-11-22 05:05] jrweakland commented on #346
@mfunk - edited the labels to include: V - ArcGIS Pro, V - ArcMap, and V - Services. Please verify and close.

[2015-11-24 18:08] mfunk commented on #76
Completed:
* .\utils\tests\capability_tests\HLZTouchdownPointsTestCase.py
* .\utils\tests\capability_tests\HelicopterLandingZoneToolsTestSuite.py
* .\utils\tests\capability_tests\data\test_hlz_tools.gdb

[2015-11-24 18:08] #76 closed

[2015-11-24 18:11] mfunk commented on #142
@topowright all you have to do for this one is verify that the fix in the **dev** branch is working.... that the tool has an output parameter when you add it to a model.

[2015-11-24 18:18] mfunk commented on #345
@jrweakland are *N - Cross-Country Mobility*, *N - Drop Zone Suitability*, and *N - Lines Of Communication* new templates with tools? If so, I only have the MAoT set in suitability.

[2015-11-24 18:20] mfunk commented on #346
@jrweakland got 'em. Thanks.

[2015-11-24 18:20] #346 closed

[2015-11-24 20:24] jrweakland commented on #345
@mfunk - I have verified the latest version of the templates from the Esri Downloads website. N - Cross-Country Mobility and N - Drop Zone Suitability are both valid tags. These templates are older (from the DCGS-A project) and each one has a toolbox as part of the download. N - Lines Of Communication is not a valid tag, and I will remove that one.

[2015-11-24 21:04] mfunk commented on #345
@jrweakland Understood. Don't think we have any of the 'as-released' DCGS toolboxes in this repo. We'll keep them in there anyways. Thanks.

[2015-11-24 21:04] #345 closed

[2015-12-01 16:24] jeffbaranyi opened #349 "Update ERG tools with 2016 guidance"
Can you please update the ERG GP with the new 2016 distances and guidance when they are released?

http://phmsa.dot.gov/hazmat/library/erg

[2015-12-01 16:27] mfunk commented on #230
No data from NGA. Moving this into Version - Deferred.

[2015-12-01 16:30] jeffbaranyi commented on #327
Yes please!  Once these get released we should make this a high priority

[2015-12-01 16:47] mfunk commented on #349
Going to keep going with #327 and close this one.

[2015-12-01 16:47] #349 closed

[2015-12-01 18:37] tylergotatie opened #351 "ERG widget completes spiratically or not at all without demographic data"
We have limited access to Canadian Demographic data, but we can configure facilities data. The ERG widget will complete and solve a handful of times or not at all in testing. Do we have to configure the widget to work use demographic services?

Current status during testing:
- progress bar spins, no result created.

[2015-12-01 22:25] mfunk commented on #318
Added this one in #352

[2015-12-01 22:25] #318 closed

[2015-12-02 15:27] mfunk commented on #351
Hi @tylergotatie, this seems like it's with the [ERG widget](https://github.com/Esri/solutions-webappbuilder-widgets/tree/master/ERG) and not the ERG Geoprocessing tool. Is this the case? If so I can move the issue over to the [solution-webappbuilder-widgets repo](https://github.com/Esri/solutions-webappbuilder-widgets).

Thanks, Matt

[2015-12-02 15:34] tylergotatie commented on #351
Yes sorry, I was told to post the issue here. I've just posted in the widget issues.
-Thank you.

[2015-12-02 16:36] mfunk commented on #320
I'm reworking some things here to make them more consistent. I'll have the tools updated by the end of the day (I hope).

[2015-12-02 22:15] mfunk commented on #320
Fixed in https://github.com/Esri/solutions-geoprocessing-toolbox/pull/353.

@lfunkhouser do you want to take a crack at verifying this one?

[2015-12-10 16:32] mfunk commented on #142
Closing.

[2015-12-10 16:32] #142 closed

[2015-12-10 16:47] mfunk commented on #145
Added an output "Out Features" parameter at index 19 in TowerRangeFans.py for Radial Line of Sight and Range - Single Tower:

![image](https://cloud.githubusercontent.com/assets/3093182/11721812/89abe242-9f1a-11e5-9208-0aa7aa7bcb39.png)

[2015-12-10 16:47] #145 closed

[2015-12-10 17:04] mfunk commented on #323
Fixed for Pro and Desktop models.

[2015-12-10 17:06] #323 closed

[2015-12-10 18:34] #351 closed

[2015-12-10 19:23] mfunk commented on #338
Fixed:

![image](https://cloud.githubusercontent.com/assets/3093182/11725817/7a633338-9f30-11e5-9a44-b53f8380f858.png)

[2015-12-10 19:23] #338 closed

[2015-12-10 19:37] mfunk commented on #238
Tried this one out today.
Projected some points (Central CA) into UTM 10N WGS 1984.

[code]

Will try a few other variations.

[2015-12-10 20:06] mfunk commented on #238
Tried a few more cases and all are working at 10.4.

[2015-12-10 20:06] #238 closed

[2015-12-10 20:26] mfunk commented on #277
This is going to be an issue with many of our Python scripted tools in Pro, where Pro will change paths in the scripts. Moving to the next release.

[2015-12-10 20:28] mfunk commented on #227
@dfoll Can you try this one out on 10.4 as part of the certification? I'd like to know if we still see the problem.

[2015-12-10 20:32] mfunk commented on #320
Closed this one.

[2015-12-10 20:32] #320 closed

[2015-12-10 20:47] mfunk commented on #319
OK. Zero updates to the solutions pages, meaning links are all broken. Can't find template pages if links are busted or are pointing to out-of-date AGOL portal items.

Pushing this back to next release.

[2015-12-10 20:48] mfunk commented on #326
@jrweakland any idea if these are supposed to be PERCENT or DEGREES?

[2015-12-10 21:40] jrweakland commented on #326
PERCENT

[2015-12-10 23:09] jrweakland opened #359 "Deliberate HLZ Analysis Tool Error"
Executing (Optionally Union Features): OptionallyUnionFeatureClasses C:\Templates\MilitaryAspectsOfTerrain\ArcMap10.4\Military_Aspects_of_Terrain_for_ArcGIS_10_1\Maps\Toolbox\scratch\scratch.gdb\HLZDissolve_Erase CombinedLinearObstacleFeature C:\Templates\MilitaryAspectsOfTerrain\ArcMap10.4\Military_Aspects_of_Terrain_for_ArcGIS_10_1\Maps\Toolbox\scratch\scratch.gdb\tempScriptFC
Start Time: Thu De

[2015-12-10 23:33] jrweakland opened #360 "FM 5-33 CCM Tool Error"
Executing: FM533CCM bdeaoi C:\Templates\MilitaryAspectsOfTerrain\ArcMap10.4\Military_Aspects_of_Terrain_for_ArcGIS_10_1\Maps\OperationGDB.gdb\maotVehicleParameters "M1 Abrams" Slope_n34_Pr1 C:\Templates\MilitaryAspectsOfTerrain\ArcMap10.4\Data\Topographic\ancillary.gdb\Contours100m C:\Templates\MilitaryAspectsOfTerrain\ArcMap10.4\Military_Aspects_of_Terrain_for_ArcGIS_10_1\Maps\Toolbox\scratch\scr

[2015-12-11 01:05] phil7277 commented on #360
Miss you out here bro

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Jim Weakland <notifications@github.com>
Date: 12/10/2015 6:33 PM (GMT-05:00)
To: Esri/solutions-geoprocessing-toolbox <solutions-geoprocessing-toolbox@noreply.github.com>
Subject: [solutions-geoprocessing-toolbox] FM 5-33 CCM Tool Error (#360)

Executing: FM533CCM bdeaoi C:\Templates\Mi

[2015-12-11 15:21] phil7277 commented on #360
Phil Suarez would like to recall the message, "[solutions-geoprocessing-toolbox] FM 5-33 CCM Tool Error (#360)".

[2015-12-12 04:43] jrweakland commented on #359
I retested this tool today, and it completed without error. The second time I ran the tool I did not use the ObstructionFeatureClass (optional) option. This might be the origin of the error.

[2015-12-12 04:54] jrweakland commented on #360
I was able to get the tool to run when I changed the input tables from the GitHub repo instead of the tables from the 10.1 download.

[2015-12-14 18:41] mfunk commented on #319
Fixed today.

[2015-12-14 18:41] #319 closed

[2015-12-15 16:43] mfunk commented on #326
Updated tool and doc...
* *Aircraft_Specifications* field name to be: Ground_Slope_Max_Percent.
* *Input_Slope* raster clarified to "Values must be in percent slope."
* Added to *Usage*:

[code]

[2015-12-15 16:43] #326 closed

[2015-12-15 16:44] mfunk commented on #227
Moving this to Version - After Next.

[2015-12-15 18:58] mfunk opened #362 "Number Features error in ArcGIS Pro"
In testing for #205 I came across a new error in the **Number Features** tool (Clearing Operations template):

[code]

Tested this with ArcGIS Pro 1.2.0-beta.1

1) Open ArcGIS Pro
2) add some polygons representing structures
3) Create points in the center of each polygon (eg. Feature To Point)
4) add field "Numbers", and calc to equal OBJECTID
5) Create AOI polygon to encompass features
6) Open Nu

[2015-12-15 19:08] pshowalter opened #363 "Position Analysis Template RangeRings.py with german localization. "is not working with with floating-point numbers""
Position Analysis Template
Reported on 11/16/2015:
[ArcGIS.com ](http://www.arcgis.com/home/item.html?id=f10d78ae29cd471ebe2e96bad9b67277)

The Range Rings model is not working with floating-point numbers when using a german localization. Within the RangeRings.py you should use:
`ringInterval = arcpy.GetParameter(2) instead of: ringInterval = float(arcpy.GetParameterAsText(2))`
otherwise there wil

[2015-12-15 19:08] mfunk commented on #205
In testing this one I'm getting errors and the tool is NOT working (see issue #362). Going to defer this one until the other is resolved.

[2015-12-16 15:53] mfunk commented on #291
Duplicate of #207
Closing this one.

[2015-12-16 15:53] #291 closed

[2015-12-16 16:01] mfunk commented on #207
Testing this in the latest dev and on 10.4. I can see the same error for ALL of the Fast Visibility tools. Going to have to go back and change how the base **Viewshed** is working.

Just an FYI.. the other non-visibility tools, **Drive Time** and **Point-To-Point Routing** are passing tests now.

[2015-12-17 15:35] mfunk commented on #207
So here I tried to add a Calculate Value check for the type of spatial reference of the input image service and turn curvature option on (projected) or off (geographic) as necessary. Unfortunately the model fails. It seems there is a limitation of the Viewshed tool or Model Builder that it is not wanting to accept either "FLAT_EARTH" or "CURVED_EARTH" options at 10.4. I'm working with the Analysis

[2015-12-21 20:04] mfunk opened #371 "Moving test frameworks"
Several limitations have been identified with the current ANT test suite, including:
- limited tests across ArcGIS versions
- unable to continue subsequent tests after test failure
- requires extra software in addition to Python

The repository will be moving to a Python _unittest_ framework over the next few months. This will require writing tests for tools that do not have any yet, and also migr

[2015-12-21 20:17] mfunk opened #372 "Errors for all tests from UnitTestUtilities.py ("Bad Path")"
@JudTown17  It seems that we are hitting an error on every test in the unittest famework, for Python 2.7 and Python 3.4 when we get to **checkFilePaths** in *UnitTestUtilities.py*.

I'm getting this with ArcGIS 10.4 by:
1) open shell from GitHub for Windows
2) cd utils\test
3) TestKickStart.bat

The repeated error is basically:

[code]

Basically it seems that the "data" folder doesn't exist, so t

[2015-12-21 21:00] #306 closed

[2015-12-21 23:18] mfunk commented on #371
**OLD instructions for running ANT tests are as follows (THESE ARE NOW OUTDATED):**

* Configure and verify Ant as described in the previous steps
* To run all unit tests
    * `> cd solutions-geoprocessing-toolbox`
    * `>  ant -f run_all_tests.xml`
    *  Note/Warning: this will run the test drivers from each test directory and can take several hours to run
* To run individual unit tests
    *

[2015-12-22 21:31] JudTown17 opened #373 "Error in Cluster Analysis with scratch workspace"
When running the Cluster Analysis tool in Incident Analysis toolbox, the following error is returned:
[code]
In the model for Cluster Features, the Output Workspace parameter for the Copy Features tool that is run in the model is hard-coded with **%scratchworkspace%\copy_cluster**

[2016-01-12 23:30] JudTown17 commented on #373
The error only occurs when running the Cluster Analysis tool in the Incident Analysis Tools.tbx in ArcGIS Pro 1.2. Running Cluster Analysis in the Incident Analysis Tools_10.4.tbx in ArcMap 10.4 works.

Note that changing the Output Feature Class parameter in the Copy Features tool to **%scratchGDB%\copy_cluster** will make it work.

[2016-01-19 20:29] JudTown17 opened #376 "Error in Count Incidents By LOC tool (Desktop)"
The following error message is shown when running the Count Incidents By LOC tool in the Incident Analysis Tools_10.4.tbx using ArcMap 10.4.

`INFO: 2016-01-19 11:01:51,493 Running tool (Count Incidents By LOC)`

`ERROR: 2016-01-19 11:01:53,937 Executing: CountIncidentsByLOC "C:\Data\Defense Solutions\solutions-geoprocessing-toolbox\utils\test\patterns_tests\data\IncidentAnalysis.gdb\Incidents" "C

[2016-01-25 23:30] mfunk opened #378 "Issues moving Convert Coordinate tool to new toolbox"
In moving **Convert Coordinate** tool from _Import and Conversion Tools_ to a new toolbox the following lines are hardcoded and need to be modified each time the toolbox changes:

line 32:

[code]

This line is calling the toolbox to use in line 80. Ideally the tool should be aware of what toolbox it lives in, but it does not. Need to figure out a better method of figuring this out.

line 80:

[co

[2016-01-26 13:24] csmoore commented on #378
I would agree that a tool should not have a dependency on what toolbox it lives in if it can possibly be avoided.

Another option might be to structure the file so it could be called as both a method and a tool. ex:

[code]

Also you may want to consider moving common functions like "AddUniqueRowID" to a common library/folder that all of the toolboxes use (since they are repeated in multiple folde

[2016-01-26 15:15] mfunk commented on #378
That would be ideal, however CC is the only *script* that uses **AddUniqueRowID**. It is, however, used by 4+ Model Builder models, which can not directly access Python methods (not even sure they can indirectly access them). This goes back to the TBX/PYT argument again, but until we decide to only use scripts and no models ... I'm not sure how to best satisfy both.

What we really should do is ge

[2016-01-26 16:10] pshowalter opened #379 "Range Ring (in ArcGIS Pro) Model does not apply symbology from layer, or add Labeling from layer file."
Range Ring (ArcGIS Pro) Model does not apply symbology from layer, or add Labeling from layer file.
User must point the model to location of the .lyr files, which causes model to then use proper line symbol, but labeling will not be applied.
After running Range Rings, the result should be a set of range rings labeled with distance from "Range Ring Center".  The Model Parameters point to a folder w

[2016-01-26 17:03] csmoore commented on #379
Funnily enough @jscott11 & I were just noticing this

[2016-01-26 17:26] csmoore commented on #378
Just to clarify, the models could still use the existing AddUniqueRowID tool (which would remain unchanged), but (after the file restructuring above) the script itself would call the script method rather than the GP tool

[code]

[2016-01-26 17:28] jscott11 commented on #379
Yep, I had the same issue. I'm using ArcMap 10.3.1, and the Range Fans From Weapon Parameters tool in the Visibility and Range Toolbox.

[2016-01-26 19:45] dhagens opened #380 "Military Analyst Tools toolbox does not have a description"
According to the SolutionsGuideToCreatingGeoprocessingTools document (https://github.com/ArcGIS/Solutions-Resources/blob/master/Python/Style/SolutionsGuideToCreatingGeoprocessingTools.md), the Toolbox Properties MUST have a good description

[2016-01-26 20:22] dhagens opened #381 "Help for Number of Rings parameter inconsistent with default value"
Help for Number of Rings parameter inconsistent with default value of 5 rings stated in the help.  Actual default value is 10

[2016-01-26 20:36] pshowalter commented on #379
Range Rings - in ArcMap 10.3.1 does not apply the symbology or labels.  Manually applying the .lyr file to the result does not result in labels, which differs from ArcGIS Pro (1.2 beta) which will pick up "Range" labels when manually applying the layer file.

[2016-01-26 20:43] dhagens opened #382 "Help for Ring Interval parameter inconsistent with default value of 1000 units"
Help for Ring Interval parameter inconsistent with default value of 1000 units stated in the help. Actual default value is 100

[2016-01-26 22:38] mfunk commented on #379
@pshowalter What happens if you apply the .LYRX (for Pro, .LYR for Desktop) to the output ring and radial Model Parameters?

[2016-01-26 23:06] mfunk commented on #380
Hey @dhagens MA toolbox is not tracked here, only in BOX. Until we hear from the Dev Ops on HOW to manage duplicate tools we'll just have to fix it there and repost it back to BOX.

[2016-01-26 23:07] mfunk commented on #380
@topowright Need to hammer the procedures out VERY fast. Don't think this can wait.

[2016-01-26 23:07] #380 closed

[2016-01-27 20:12] mfunk commented on #382
Was fixed in MA, but not here. Need to branch from DEV, fix, then submit Pull Request (don't merge).

[2016-01-27 20:13] mfunk commented on #382
Keep this one simple and include fix for #381 in same Pull Request.

[2016-01-28 17:26] mfunk commented on #381
@dhagens I'm reopening this one to be fixed in the repo version of the RR tools.

[2016-01-28 19:25] pshowalter commented on #379
@mfunk  ArcGIS Pro 1.2 beta, will allow user to manually apply the .LYRX file properly and display the labels.  They are lined up in a nice stack from bottom to center of the Range Rings.

ArcMap applies the .LYR file automatically, but labels are placed at various locations around the rings, not stacked.

[2016-02-01 23:33] mfunk opened #383 "Linear Line Of Sight (Viz & Range) help update for clarity"
The tool help doc for **Linear Line Of Sight** in the *Visibility and Range Tools* toolboxes should include some help on using the *Attributes* window when adding Observer or Target points to modify the **Height above surface** property:

![image](https://cloud.githubusercontent.com/assets/3093182/12734921/8656ec74-c8f8-11e5-8cf5-997f4af96717.png)

This allows the user to modify the individual obs

[2016-02-05 15:39] dhagens opened #384 "Lowest Point tool should be renamed to Lowest Points"
Naming convention for Lowest Point tool is not consistent with naming convention for Highest Points.  It should be renamed to Lowest Points to indicate that the output could produce one or more points.

[2016-02-08 20:56] mfunk opened #386 "Table To Ellipse tool is slow when creating lots of ellipses"
In testing **Table To Ellipse** in the _Import and Conversion Tools_ I'm seeing that the tool can be really slow when there are a lot of ellipses to create. For example I generated 10,000 random ellipses in a table:

[code]

Then used the output to create ellipse polygons using **Table To Ellipse** from _Import and Conversion  Tools_ (NOT the core tool in _Data Management_). This tool took a total

[2016-02-08 21:24] mfunk commented on #79
@JudTown17 fixed in #385.

[2016-02-08 21:24] #79 closed

[2016-02-08 21:41] mfunk commented on #241
For 10.4 the tools in the toolbox have changed and now include:

* Import CRU Data
   * [ ] Import CRU CL2.0 Data
   * [ ] Subset Raster Workspace
* Import WMO Data
   * [ ] Import WMO Stations
   * [ ] Import WMO Station Data

CRU CL2.0 data can be downloaded here: https://crudata.uea.ac.uk/cru/data/hrg/tmc/

[2016-02-08 23:21] conklinbd commented on #386
@mfunk I think this has to do with the density of the polygons. You may want to see if there is a simple way to simplify the polygons to remove unnecessary vertices.I think Simplify is the right operation.

[2016-02-08 23:40] mfunk commented on #386
Unfortunately if we simplify we losing part of the shape, basically dropping the "resolution" of the ellipse. It won't be the same output as the core **Table To Ellipse** tool. And for some of the weird, near-polar shapes that some ellipses might make, that could cause a problem. A cursory glance over a few ellipses shows they have about 360 vertices each, which really isn't much. After a **Genera

[2016-02-09 16:02] mfunk opened #387 "HLZ Touchdown point test errors in Pro"
Running the unittests I came across the following errors in the HLZ Touchdown point tests:

[code]

All of the tools point to a file geodatabase that the tools can't find: *.\solutions-geoprocessing-toolbox\utils\test\capability_tests\data\test_hlz_tools.gdb*.

Repro the problem by running the tests: **.\solutions-geprocessing-toolbox\utils\tests\TestKickStart.bat**

[2016-02-09 16:06] mfunk opened #388 "Python.exe errors at end of unittests"
Testing for #385 and I came across this error when the tests were completed...

[code]

![image](https://cloud.githubusercontent.com/assets/3093182/12921817/cc3cddc8-cf03-11e5-84b4-da16348a8338.png)

Perhaps it's something on this machine, or that I'm using ArcGIS 10.3.1. But need to log this and move on, until I can review it further.

[2016-02-09 16:10] mfunk opened #389 "ERG errors in PRO unittest"
In testing for #385 the following errors for the **ERG Tools*** came up:

[code]

All of these seem to point to the same problem:

[code]

[2016-02-09 17:01] mfunk opened #390 "Add note to readme about "py not recognized..." message and update Requirements"
Need to add a note to the README for users who come across:

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/129342386639048/129373043652199)

[2016-02-09 20:32] mfunk commented on #388
Closing, works in 10.4

[2016-02-09 20:32] #388 closed

[2016-02-16 21:12] mfunk commented on #330
This one is being handled as part of an internal resources repo.

[2016-02-16 21:12] #330 closed

[2016-02-16 21:59] mfunk commented on #372
Verified.

[2016-02-16 21:59] #372 closed

[2016-02-16 22:00] mfunk commented on #373
Verified fixed.

[2016-02-16 22:00] #373 closed

[2016-02-22 23:40] dfoll opened #396 "Drop " Join" from Incident Table to Point tool in Incident Analysis Tools"
Because of an update to the convert coordinate notation tool which the Table to point tool uses, the join is no longer necessary... leaving the join in results in duplication of all the fields which are then suffixed with "_[n]"

[2016-02-24 23:25] dfoll opened #397 "Unable to determine ArcGIS version on Import Patrol Report"
Found while using Pro 1.2

Import Patrol Report in the Patrol Data Capture Tools toolbox, in the Data Management folder has an error when running that it is unable to determine ArcGIS version number.

Start Time: Thu Feb 18 13:56:27 2016
Running script ImportPatrolReport...
PYTHON ERRORS:
Traceback info:
  File "C:\Users\dere5261\Documents\ArcGIS\Projects\Patrol Data Capture Cert\ImportPatrolRepor

[2016-03-02 15:39] mfunk opened #398 "Replace "Add Unique Row ID" script with "Add Incrementing ID Field" core tool"
New tool in core geoprocessing **Add Incrementing ID Field** could easily replace **Add Unique Row ID** in several templates. List of templates and tools that it should replace will follow.

@csmoore will be happy to see it go.

[2016-03-04 03:55] jrweakland opened #399 "Please update the "G" labels to reflect the current offerings on the Solutions Website"
Please remove the "G - Intelligence Team" and the "G - Military Team" labels and replace with "G - Defense Team" in this repo to reflect the current offering on http://solutions.arcgis.com/. This will also need to be completed at https://github.com/Esri/solutions-geoprocessing-toolbox/wiki#issue-labels

[2016-03-04 13:16] csmoore commented on #398
@mfunk - I will indeed- this and any other files/code that are repeated. I believe the old software adage goes something like: "if something exists in 2 places, it is usually wrong in one of them"

[2016-03-04 15:16] mfunk commented on #398
@csmoore which reminds me I owe you a conversation about tools as methods.

[2016-03-08 22:09] mfunk commented on #399
Done.

[2016-03-08 22:09] #399 closed

[2016-03-09 19:17] dfoll opened #400 "Incident Table to Point tool not importing datetimestart field from excel table as a date field"
When you run the Incident Table to Point tool it is importing the datetimestart field from the excel table as a text field instead of a date field as it should be. This is causing the definition queries for the date break out (last 24 hours, last 48 hours ... etc ...) of incidents to not work, which then causes other tools not to be able to perform analysis on the data.  Attached is the table in q

[2016-03-17 23:52] JudTown17 opened #401 "Place data for Maritime Decision Aid Tools into tooldata folder"
@mfunk , @jfrygeo :

Currently when running most tools in the Maritime Decision Aid Tools_10.4.tbx, there is a dependency on rasters in _data.gdb_ in the _\solutions-geoprocessing-toolbox\data_ folder. Instead, the tools should point to data in a geodatabase in the _\solutions-geoprocessing-toolbox\suitability\toolboxes\tooldata_ folder.

[2016-03-21 18:05] dfoll commented on #397
@lfunkhouser this is the point where pdc is held up right now... i THINK everything will be good with the template when this is cleaned up, but i don't want to say that is set in stone until i this is fixed up

[2016-03-21 18:06] dfoll commented on #400
@lfunkhouser

[2016-03-21 18:10] dfoll commented on #397
@ACueva  i was wondering if you would be interested in helping me look at this tomorrow

[2016-03-21 18:28] csmoore commented on #397
If this tool/script is being called from within the same toolbox, I'm not sure why those calls mentioned (get toolbox name, import toolbox) would even be necessary at: https://github.com/Esri/solutions-geoprocessing-toolbox/blob/master/data_management/toolboxes/scripts/ImportPatrolReport.py#L97

[2016-03-21 20:15] mfunk commented on #401
@jfrygeo can we update the tools to pull required data from **tooldata* folder?

[2016-03-21 20:21] mfunk commented on #397
Version issue is probably because the script is calling arcpy.mapping/arcpy.mp. There was an update to our methods for determining version that this script probably didn't get. Instead of matching existing version to a specific list of numbers we were checking against:

[code]

[2016-03-21 20:58] jfrygeo commented on #401
I think  it will work.

From: Matt Funk [mailto:notifications@github.com]
Sent: Monday, March 21, 2016 4:15 PM
To: Esri/solutions-geoprocessing-toolbox <solutions-geoprocessing-toolbox@noreply.github.com>
Cc: John Fry <JFry@esri.com>
Subject: Re: [solutions-geoprocessing-toolbox] Place data for Maritime Decision Aid Tools into tooldata folder (#401)

@jfrygeo[github.com]<https://urldefense.proofpo

[2016-03-21 20:58] JudTown17 opened #403 "Failed to import Maritime Decision Aid Tools.tbx in ArcGIS Pro using Python"
@mfunk , @jfrygeo :

When attempting to import the Maritime Decision Aid Tools.tbx using Python 3.4.3 for ArcGIS Pro (64-bit), I get the following error message:

**ERROR: 2016-03-21 09:44:28,894 PYTHON ERRORS:
Traceback info:
  File "C:\Data\Defense Solutions\solutions-geoprocessing-toolbox\utils\test\suitability_tests\VisibilityRangeAtSeaTestCase.py", line 82, in test_visibility_range_at_sea

[2016-03-21 21:12] JudTown17 opened #404 "Error running Farthest On Circle tool"
@mfunk , @jfrygeo :

The following error occurs when running the Farthest On Circle tool in the Maritime Decision Aid Tools_10.4.tbx toolbox. The error happens in ArcMap 10.4 and also running it in Python.

__INFO: 2016-03-21 11:32:18,956 Running tool (Farthest On Circle)
ERROR: 2016-03-21 11:32:21,865 Executing: FarthestOnCircle "C:\Data\Defense Solutions\solutions-geoprocessing-toolbox\data\data

[2016-03-22 16:13] mfunk commented on #328
@dfoll can you verify this works in the **dev** branch then mark *done*?

[2016-03-22 16:14] mfunk commented on #329
@dfoll can you verify this works in the **dev** branch then mark *done*?

[2016-03-22 18:58] mfunk commented on #400
The problem we are having here is in ArcGIS's support of Excel files. Basically, Excel doesn't store field types, and therefore ArcGIS must interpret them based on the first 8 rows. So in reading a date field, which is a mix of numbers and characters, it is read as a mixed set, and is therefore a string. The direct info on the problem is here...

http://desktop.arcgis.com/en/arcmap/10.3/manage-dat

[2016-03-22 20:28] dfoll commented on #376
@JudTown17 fixed this issue in 10.4, pull request #408.

[2016-03-22 20:42] dfoll commented on #400
@nfeuerstein we may need to get a hold of the original creator of this tool, and ask exactly how this was expected to work, given what matt just pointed out. i've never "workflow" tested this template, only certified it, and all the tools do certify given they have good data, which they always did. however the way i interpret things, this is an issue for a user to start from the true beginning usi

[2016-03-22 20:55] dfoll commented on #329
verified

[2016-03-22 20:55] #329 closed

[2016-03-22 21:27] mfunk commented on #400
w.r.t. how the CSV with schema.ini file works, the **Overriding how text files are formatted** section of http://desktop.arcgis.com/en/arcmap/10.3/manage-data/tables/adding-an-ascii-or-text-file-table.htm.

...  suggests looking at MSDN for topics on schema.ini files. Here is one that I found that fits our needs:

https://msdn.microsoft.com/en-us/library/ms709353(v=vs.85).aspx

[2016-03-22 21:30] mfunk commented on #400
So when I saved *MontereyIncidents.xlsx* as a CSV, I made **schema.ini** that went along with it that contained the following:

[code]

[2016-03-22 21:42] dfoll commented on #400
@mfunk good start, the field is coming in as a "Date" with this workaround, however now all the values in that field are null

[2016-03-22 21:50] nfeuerstein commented on #400
@dfoll @mfunk -the "Incident Table to Point" tool is the same "Table to Point" tool that is in the Import and Conversion toolbox (which was previously included in the Position Analysis template).  So, unless I'm mistaken I actually think Matt was the original author of that tool.  I also believe the intent of the tool was to create points out of a table in the TOC, not go straight from an .xls/x t

[2016-03-23 15:14] mfunk commented on #400
@nfeuerstein Simply they way ArcGIS reads XLSX files, we (Esri) are not interpreting dates correctly. The same problem happens with the **Excel To Table** tool. We have no problem with text or number fields, but dates are a combination of numbers and characters, and are then read as string/text fields.

[2016-03-23 15:17] mfunk commented on #400
Let me ammend that last comment. Whatever library Esri uses to read XLSX doesn't handle dates well. I don't want to assume its some bit of code that Esri wrote, but it might be.

[2016-03-23 16:57] nfeuerstein commented on #400
I hear what you're saying, but is that a blanket statement that applies to all date and date/time formats?  Because the Incidents.xls spreadsheet that was included in the data folder of the template has a date field with a date format (3/14/2012), and when I add that sheet to the TOC as a table and look at the properties the field type is Date.  So, I'm thinking that perhaps only certain date form

[2016-03-23 17:24] mfunk commented on #400
I can only speak to the file and date/time format that is with this template which is using a combined date and time format of "DD/MM/YY hh:mm:ssAM". Even Excel can define it as a date/time...

![image](https://cloud.githubusercontent.com/assets/3093182/13994111/86d65986-f0e0-11e5-9fb4-734a59ec7929.png)

However, if we just open the XLSX in ArcMap. It only sees this as a TEXT field:

![image](http

[2016-03-23 20:40] jfrygeo commented on #404
I am running 10.4 as well and I am able to run the Farthest On Circle tool with in_memory\SpeedCostSurf.

[2016-03-24 13:56] jfrygeo commented on #403
The tool, "Visibility Range at Sea" uses a feature set to drop a location, it could be possible that the tool is expecting a location, and one is not passed. The tools will need to be rebuilt for ArcGIS Pro, where a feature class is needed to supply a position. @mfunk - Do we build ArcGIS Pro versions of tools in the ..\solutions-geoprocessing-toolbox\suitability\toolboxes\Maritime Decision Aid To

[2016-03-24 15:31] mfunk commented on #403
@jfrygeo Yes.
* **Maritime Decision Aid Tools.tbx** is for Pro 1.1+
* **Maritime Decision Aid Tools_10.4.tbx** is for Desktop 10.4+

Desktop toolboxes will increment with minor version updates.

[2016-03-24 16:52] dfoll commented on #400
@karlterrey fyi

[2016-03-24 20:52] dfoll commented on #400
i went way back in time, and went and got Incident Analysis 1.0.0 from the [downloads page](http://www.esri.com/apps/products/download/#ArcGIS_for_Defense). when you add the Incidents.xls spreadsheet as data, or by dragging and dropping it on the table of contents, then view the open the table, the "datetimestart" field shows as type text. I have attached the exact spreadsheet i am seeing this wit

[2016-03-25 15:55] jfrygeo commented on #404
@JudTown17 try running the Maritime Decision Aid Tools_10.4.tbx toolbox - Farthest On Circle in ArcMap 10.4 by dropping a location with the feature set. I believe you get the:

<i> RuntimeError: ERROR 010240: Could not save raster dataset to in_memory\SpeedCostSurf with output format MEM.</i>

when it receives a blank position.

[2016-04-01 21:12] JudTown17 commented on #404
@jfrygeo In ArcMap 10.4 I ran Farthest On Circle with dropping a location for Position Last Seen and it worked. Then I tried it again with a blank position, and I got the same error that I reported in the original post.

[2016-04-01 22:43] jfrygeo commented on #404
Yeah, that is as expected. You need to specify a position. The tool will error if no position is set as an input.

Sent from my iPhone

On Apr 1, 2016, at 5:12 PM, Judson Hardy <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jfrygeo&d=CwMCaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=LOFtvHGMxkJ_DWps2cZi-A&m=6bUGxIFESJp08

[2016-04-05 16:12] jfrygeo commented on #404
@JudTown17 I will make the input position a required option in the model.

[2016-04-05 16:21] jfrygeo commented on #404
@JudTown17 The input (a feature set) is required, however it still allows for the user to not specify a position in the feature set, meaning the user could specify a null location and cause the tool to error. The user must specify (a) location(s) for the tool to run.

[2016-04-05 20:49] jfrygeo commented on #404
When specifying an input location for the Farthest on Circle Tool:
<li> The tool at ..\solutions-geoprocessing-toolbox\suitability\toolboxes\Maritime Decision Aid Tools_10.4.tbx

<i> runs in ArcMap 10.4 in about 7 Seconds</i>

<li> The tool was created for ArcGIS Pro at ..\solutions-geoprocessing-toolbox\suitability\toolboxes\Maritime Decision Aid Tools.tbx. This tool is named "Farthest on Circle

[2016-04-05 23:45] dfoll commented on #400
took another look at this today, and the data being used for testing was in fact bad. essentially the problem was this... the datetimestart field as we used it over jalalabad had only the date, no time. (see matt's explanation as to why this was a problem). the sample data now included with the monterey location of the template now matches that format and has only the date in the datetimestart. i'

[2016-04-05 23:45] #400 closed

[2016-04-06 17:19] pshowalter opened #414 "Range Rings (in ArcGIS Pro 1.2) Model - not accepting feature class from TOC, or browsing to one."
Range Ring (in ArcGIS Pro) Model - not accepting Range Ring Centers from feature class/layer in TOC, or browsing to one.  By default it populates Range Ring Centers with "in_memory\feature_set".  Setting to point fc in toc, or browsing to point fc, results in red X.  The custom toolbox being used was created by @mfunk.  If I Edit the Model, the sourceRR script tool will not open and indicates "Too

[2016-04-06 18:13] pshowalter opened #415 "Range Rings (in ArcGIS Pro 1.2) Model - not applying symbology or labels from Layer file."
Range Rings (in ArcGIS Pro 1.2) Model - not applying symbology or labels from Layer file.  Yser can manually apply the Layer file.

If applied manually:
Labels for range rings appear.
Labels for radials do not appear,  unless user manually turns on labels after applying Layer file..

[2016-04-06 18:31] pshowalter opened #416 "Range Rings (in ArcGIS Pro 1.2) Model - in some cases radials do not extend to ring."
Range Rings (in ArcGIS Pro 1.2) Model - in some cases radials do not extend to ring.  Using Web Mercator, and have Map Property set to "Enable wrapping around date line"

![image](https://cloud.githubusercontent.com/assets/6842145/14328308/1d110dd2-fc04-11e5-91e0-f62b3bf5a9e3.png)

[2016-04-06 21:00] topowright opened #418 "Downloading the toolbox creates broken links"
When downloading the toolbox to make changes I have noticed that there are broken links on all tools.

[2016-04-06 22:26] dfoll commented on #328
verfied

[2016-04-06 22:26] #328 closed

[2016-04-06 22:26] dfoll commented on #328
verified

[2016-04-06 22:33] dfoll opened #420 "Count Incidents by LOC has a typo in copy features"
Output should have been "%ScratchGDB%\RoadsWIC" , what it actually said was "%ScatchGDB%\RoadsWIC" ... made this change in both Pro and 10.4

[2016-04-06 22:42] dfoll opened #421 "Incident Density is not producing valid results"
Incident Density calls the Optimized Hot Spot tool. The surface output was producing output without the tool failing, however i noticed OHS doesn't like geographic coordinate systems... this is what was producing the bizarre results.

To fix this problem i edited the model for Incident Density and now project the input points and the input boundary, before OHS runs. Also added the parameter to the

[2016-04-07 20:51] topowright opened #425 "Replicated tools"
Incident Table To Point in the Patterns folder and Table to Point in the Import and Conversion are the same tool. How do we deal with this issue? @mfunk

[2016-04-07 21:08] topowright commented on #425
We also have:
**MAOT**
Highest Points in Near Locations
Lowest Points in Near Locations
**Visibility and Range**
Highest Points
Lowest Points

[2016-04-07 21:47] mfunk commented on #425
For *Incident Analysis*, remove the tool from the toolbox, then include the **Import and Conversion Tools** toolbox in the template.

For *MAoT* and *V&R* the tools are NOT the same tools.

[2016-04-11 16:07] mfunk opened #426 "Range RIng tools in Visibility & Range toolbox should pull spatial ref from map"
This is a question from Clark, could the Range Ring tools in Visibility and Range pull the spatial reference from the map if they are being run in ArcMap or ArcGIS Pro?

Have to research. Should be easy in ArcMap, not sure about Pro.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/129342386639048/129373044935159)

[2016-04-14 23:11] JudTown17 commented on #401
@jfrygeo  Farthest On Circle now points to the _tooldata_ folder. As far as I can tell, it looks like **Find Submarine Canyons**, **Sensor Viewshed Processing**, and **Sub Depth Restriction Suitability** tools use data from the _data.gdb_ or _scratch.gdb_ in the _\solutions-geoprocessing-toolbox\data_ folder. Can you point data for those three tools to the _tooldata_ folder as well? Thanks!

[2016-04-15 00:28] jfrygeo commented on #401
Sure can. Will do.

Sent from my iPhone

On Apr 14, 2016, at 7:11 PM, Judson Hardy <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jfrygeo&d=CwMCaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=LOFtvHGMxkJ_DWps2cZi-A&m=W6LF9dqRGp3K0KRIE9vsYYjyCoXeOnXoY2W6lzE4hfM&s=MbEkg5aBt6NtQuBTa23dJT-XZJiZdFpEAW56osOW-k4&e=> Farthest On C

[2016-04-15 16:14] topowright opened #428 "Models from ArcMap are not working properly in ArcGIS Pro"
Models that use parameters do not allow drop down menus to pull dynamically from the table once the model has been edited in ArcGIS Pro.

[2016-04-18 21:30] mfunk opened #429 "Radial Line Of Sight fails on Pro (missing viz modifier fields)"
Because Pro doesn't support _feature sets_, and we are forced to use _map notes_ we are missing the requisite visibility modifier fields that RLOS uses to determine ranges and offset heights. So we are missing a major component that will make this tool unusable in Pro. The error will be something like ...

[code]

Visibility modifier fields are discussed under "Controlling the Visibility Analysis:

[2016-04-21 22:24] joebayles opened #430 "Clearing Operations 10.4.1 Certification Issue - GRG tools failing"
Traceback info:
  File "C:\Users\joe7503\Documents\ArcGIS\Templates\ClearingOperations5.0.0\toolboxes\Scripts\CanvasAreaGRG.py", line 424, in main
    arcpy.Fishnet_ClearingOperations(tempOutput, originCoordinate, yAxisCoordinate, str(cellWidth), str(cellHeight), 0, 0, oppCornerCoordinate, "NO_LABELS", templateExtent, "POLYGON")

'module' object has no attribute 'Fishnet_ClearingOperations'
ArcPy

[2016-04-22 23:13] joebayles commented on #430
@topowright it is the problem that I thought it was originally, it was looking for the deleted Fishnet tool. The issue was compounded because I was working in two different versions inadvertently.

I'll make a fix this weekend, and update the template appropriately, but I've got it working in 10.4 and 10.4.1, so I'm calling this closed.

Shout out to the Master of Geoprocessing, @mfunk . Thanks fo

[2016-04-22 23:13] #430 closed

[2016-04-25 21:21] topowright opened #431 "GP Repo needs to include Range Dome Analysis tools"
Add Range Dome analysis tools

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/129342386639048/129373043930493)

[2016-04-25 22:05] topowright commented on #420
@dfoll

[2016-04-25 22:30] #420 closed

[2016-04-27 15:01] mfunk commented on #327
Guidebook released: http://www.phmsa.dot.gov/pv_obj_cache/pv_obj_id_E00A3F1FBDEEA9079573D27BDFC571C3FDAC4A00/filename/ERG2016.pdf

[2016-04-27 15:01] mfunk commented on #359
Hey @jrweakland this one still and issue?

[2016-04-27 15:02] mfunk commented on #360
@jrweakland this one still and issue?

[2016-04-28 11:45] jeffbaranyi commented on #327
Great!  The updated data files look to be here - http://www.phmsa.dot.gov/hazmat/library/erg#page5

@mfunk @NikkiGolding @conklinbd - can we get our friends across the pond to update the tools and certify these with the latest 2016 guidance?

[2016-04-29 14:41] mfunk commented on #381
New Range Rings tools added to Visibility and Range for Desktop (10.4) and Pro (1.2) . So this issue is no longer a problem.

[2016-04-29 14:41] #381 closed

[2016-04-29 14:42] mfunk commented on #382
New Range Ring tools added for Desktop (10.4) and Pro (1.2). This issue is no longer a problem.

[2016-04-29 14:42] #382 closed

[2016-04-29 14:44] mfunk commented on #376
@JudTown17 can you verify this one is fixed?

[2016-04-29 14:55] mfunk commented on #429
To solve this one I've added **Add Observer Fields** into the Pro toolbox for *Visibility and Range Tools.tbx*. This tool is to be used on the input observer point features *before* running **Radial Line Of Sight**. The new tool will add default or user-defined values in the requisite fields in the point features.

This was added in PR #434

@topowright since i logged this one and fixed it, can yo

[2016-04-29 16:44] mfunk commented on #387
The problem here is that the data for the HLZ template was never downloaded, and therefore the geodatabase didn't exist. Added the relevant info for the test to the test case header and tested it, but hitting a new error with **DataDownload.py**

@JudTown17

[2016-04-29 16:49] mfunk opened #435 "Python 2/3 errors in DataDownload.py"
Running the tests I'm getting double errors...

[code]

The first error is relating to the following code (lines 52 - 64) in **DataDownload.py**:

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/129342386639048/129373043794931)

[2016-04-29 16:51] JudTown17 commented on #376
@mfunk I verified this morning that this issue is indeed fixed.

[2016-04-29 21:12] mfunk commented on #404
Closed with #433

[2016-04-29 21:12] #404 closed

[2016-04-29 21:13] mfunk commented on #384
Done.

[2016-04-29 21:13] #384 closed

[2016-05-02 20:12] mfunk commented on #383
Removed Pro tab as this operation doesn't work in there (there are no feature sets in Pro).

[2016-05-02 20:23] mfunk commented on #383
Added to the ArcMap documentation for the Linear Line of Sight tool. Fixed in #434

[2016-05-02 20:23] #383 closed

[2016-05-02 20:28] mfunk commented on #390
@JudTown17 What do you think about having a separate .BAT file for running Desktop vs Pro tools?

* ProTestRunner.bat - runs only the Pro tests
* DesktopTestRunner.bat - runs only the Desktop tests
* AllPlatformTestRunner.bat - to run both Pro and Desktop tests

[2016-05-02 20:34] mfunk commented on #398
So the new tool **Add Incrementing ID Field** is for Standard and Advanced license only, and is NOT intended for geodatabase tables, per the first Usage bullet point:

[code]

So we will need to keep **Add Unique Row ID** around.

[2016-05-02 20:34] #398 closed

[2016-05-02 20:35] mfunk commented on #401
@JudTown17 Can you verify the fix and close this issue?

[2016-05-02 20:36] #401 closed

[2016-05-02 20:41] mfunk commented on #425
@nfeuerstein We are not going to duplicate tools in multiple toolboxes anymore (because maintenance nightmares for keeping tools up-to-date in multiple locations is not working at all). If you think you will need to have a *Table To Point* capability, can you add the Import and Conversion Toolbox to the template?

[2016-05-02 20:44] mfunk commented on #416
@pshowalter Does this happen with the 'new' version of **Range Rings (from Interval)**? or is this with the older one. My guess is the older one, but if you get the same results with the new tool we'll want to know about it.

[2016-05-02 20:46] mfunk commented on #403
@JudTown17 can you verify this is fixed and close the issue?

[2016-05-02 20:48] nfeuerstein commented on #425
@mfunk that's possible, or we may just be able to completely remove that tool from the template.

[2016-05-02 22:18] mfunk commented on #425
Pretty much what I want to do. Drop the one from IA tools, and include *Import and Conversion* in the IA templates. Nothing we have to do immediately, but next time you are updating IA templates would be ideal.

[2016-05-02 22:22] mfunk commented on #378
Duplicated here: https://github.com/Esri/military-tools-geoprocessing-toolbox/issues/32

[2016-05-02 22:31] JudTown17 commented on #403
@jfrygeo @mfunk This is still NOT fixed. I am still getting the above error message when attempting to import the Pro toolbox.

[2016-05-02 22:34] jfrygeo commented on #403
I only fixed the ArcMap versions.

Sent from my iPhone

On May 2, 2016, at 5:31 PM, Judson Hardy <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jfrygeo&d=CwMCaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=LOFtvHGMxkJ_DWps2cZi-A&m=3RNPB9Ixv4O2d647APzRGt3wziEh_eX-5pijurXT1_E&s=qGzAX-OMMJm09oWqNXeW97krXtUOhEiS4RJabe4nbiU&e=>

[2016-05-02 22:43] jfrygeo commented on #403
The tools may need to be rebuilt for pro.

Sent from my iPhone

On May 2, 2016, at 5:31 PM, Judson Hardy <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jfrygeo&d=CwMCaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=LOFtvHGMxkJ_DWps2cZi-A&m=3RNPB9Ixv4O2d647APzRGt3wziEh_eX-5pijurXT1_E&s=qGzAX-OMMJm09oWqNXeW97krXtUOhEiS4RJabe4

[2016-05-02 22:44] mfunk opened #438 "Double copies of Point Of Origin Tools in Capability folder"
We've got two copies of the Desktop version of Point of Origin Tools:
* Point Of Origin Tools_10.4.tbx
* Point Of Origin Tools_10.3.tbx

Need to remove the "_10.3" version of the toolbox.

[2016-05-02 23:12] JudTown17 commented on #390
@mfunk I think that is a good idea. TestRunner.py can be re-factored to support running Pro and Desktop tests separately or together.

[2016-05-03 00:11] mfunk commented on #376
@JudTown17 if it's fixed and you verified you need to close it.

[2016-05-03 00:15] mfunk commented on #403
@jfrygeo can you do the updates for Pro toolbox in the 'unittest' branch? Thanks!

[2016-05-03 16:14] #376 closed

[2016-05-04 15:48] mfunk opened #439 "Need to sort out unit test log file in TestKickStart.bat"
@JudTown17

Something else we left go... we are currently only appending to a single 'default.log' rather than increment based on date/time/id as we originally set out to do.

Right now the TestKickStart.bat is always setting the log to go to 'default.log', and not using the facility we had originally set up. I think we need to revisit this after your current test building is done. We'll need to d

[2016-05-04 18:11] pshowalter commented on #416
With a little help from @dhagens, working much better.

[2016-05-04 18:11] #416 closed

[2016-05-06 14:49] mfunk commented on #387
This guy is still failing with the same error:

[code]

[2016-05-06 15:01] mfunk opened #440 "One of the Maritime Decision Aid tools is creating "output.gdb" in tooldata"
In running the unittests I'm seeing a new **output.gdb** added to the */suitability/toolboxes/tooldata* folder. Not a good idea to add results to the tool structure. These should got to a user-specified location, or a scratch GDB at the very least.

[code]

[2016-05-06 21:59] JudTown17 commented on #440
@mfunk  I have now changed the Maritime tests to use scratch.gdb instead of this output.gdb with #441.

[2016-05-09 16:22] pshowalter commented on #416
Confirming that the GP Model is working.  I mistakenly re-tested using the Add-in which was not related to this issue.
![image](https://cloud.githubusercontent.com/assets/6842145/15119772/82d41d26-15e0-11e6-900b-85a176cab819.png)

[2016-05-12 16:00] #440 closed

[2016-05-12 21:55] conklinbd commented on #327
@jeffbaranyi this is something we can look at in 3rd Quarter this year.

[2016-05-19 15:01] jrweakland commented on #360
I will check and get back to you @mfunk

[2016-07-05 16:56] mfunk opened #444 "Highest Points model in Visibility and Range Template throws errors at ArcMap 10.4.1."
Synopsis:
Highest Points model in Visibility and Range Template throws errors at ArcMap 10.4.1.

Steps to Reproduce:
1. Download the Visibility and Range Template from http://solutions.arcgis.com/defense/templates/visibility-and-range
1. Open ArcMap 10.4.1.
2. Set up the following:
- Ensure overwriting of files is allowed (Geoprocessing > Options)
- Set your Scratch workspace to the Scratch.gdb th

[2016-07-06 18:00] mfunk opened #446 "Present to the group every time we do a release"

[2016-07-06 18:00] mfunk opened #447 "Build a script that allows users to pull out their templates tools"
**Problem:**
Right now the engineer must manually copy all of the parts of a GP tool for deployment in a template. This means the engineer must know which files belong with the toolbox. Sometimes the required files are not obvious (imported PY modules, output LYRX files, tooldata, etc.). This means the engineer may not be copying the right files, or copying the wrong ones. This means the toolbox w

[2016-07-06 18:00] mfunk opened #448 "Present our top five favorite tools"

[2016-09-01 20:46] #387 closed

[2016-09-12 18:23] #428 closed

[2016-09-15 23:33] mfunk opened #457 "Error after running ClusterAnalysisTestCase.test_cluster_analysis_pro"
Getting an error in the test for Cluster Analysis on Pro that is crashing the whole test framework. At the very end the error message is pointing to...

[code]

Seems like the pro toolbox *Incident Analysis Tools.tbx* is being converted in Python somehow.

Full error is below:

[code]

[2016-09-16 01:17] mfunk commented on #457
With some more direct error handling added I get slightly different message:

[code]

[2016-09-21 09:51] topowright commented on #309
@mfunk I do not think this is an issue in the newest version of the template that we created for ArcGIS Pro 1.3. Please verify or close.

[2016-09-21 09:53] topowright commented on #396
@dfoll This update was done in the last update. This is also a template that was moved to mature support. I am closing this issue.

[2016-09-21 09:53] #396 closed

[2016-09-21 12:37] igrSimonSandberg opened #459 "Detaset for testing solutions-geoprocessing-toolbox"
I have been tasked with testing solutions-geoprocessing-toolbox and to see whether the tools can be used in my organisation.

My problem is that the data I have access to is coded differently from what the tools are set up for.
Is there a dataset I can download, with the right coding, i can then use to see whether the solutions-geoprocessing-tools are something for us?

[2016-09-21 21:33] mfunk commented on #459
Hello @igrSimonSandberg,
This repository is basically a way for us to store and manage tools that are part of Solutions maps/apps [http://solutions.arcgis.com/](http://solutions.arcgis.com/). That means there are MANY tools (about 200) in several toolboxes (about 70). Many of these tools are part of map/app Solution products that include sample data and workflows. Can you identify which tools/tool

[2016-09-21 21:39] jeffbaranyi commented on #327
@mfunk @NikkiGolding @conklinbd - any updated ETA?  Thanks

[2016-09-22 06:03] igrSimonSandberg commented on #459
Of course.
I work with ArcGIS 10.4.1 for Desktop. And I am looking at the Military Aspects of Terrain Tools, Helicopter Landing Zone Tools, Point Of Origin Tools, Clearing Operations Tools,  Range Card Tools and ERG Tools.

[2016-09-23 14:55] mfunk commented on #457
After talking with one of the guys on the GP team it seems that this is a problem with *linecache.py* trying to read through an error traceback to open up the Pro TBX, which won't happen as it's a binary file. This is a problem in Python, not this script. The workaround is to wrap the test with a try/except and use **self.fail()** in the *unittest* library to circumvent the traceback/linecache pro

[2016-09-23 14:55] #457 closed

[2016-09-27 20:57] mfunk commented on #459
@igrSimonSandberg

So as I mentioned the templates that include include tutorials and exercise data can be downloaded from our our Solutions page: [http://solutions.arcgis.com/](http://solutions.arcgis.com/). But you can also download many of the original templates from the Downloads: [http://appsforms.esri.com/products/download/#ArcGIS_for_Defense](http://appsforms.esri.com/products/download/#Arc